# WEB SCRAPING – ASSIGNMENT 4

In [1]:
# importing requred libraries

import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [61]:
driver=webdriver.Chrome("chromedriver.exe")

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
1. Rank
2. Name
3. Artist
4. Upload date
5. Views

In [4]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [5]:
upl=[]
up=driver.find_elements_by_xpath("//td[@align='right']")
for i in up:
    text=i.text
    upl.append(text)
print(upl)

['June 17, 2016', 'January 12, 2017', 'January 30, 2017', 'April 6, 2015', 'October 8, 2016', 'January 31, 2012', 'November 19, 2014', 'July 15, 2012', 'February 27, 2018', 'May 2, 2018', 'March 6, 2014', 'October 22, 2015', 'January 14, 2015', 'September 5, 2013', 'May 31, 2013', 'October 7, 2014', 'April 5, 2018', 'August 18, 2014', 'December 3, 2015', 'February 20, 2014', 'March 22, 2015', 'April 11, 2014', 'May 31, 2018', 'July 25, 2012', 'June 29, 2017', 'October 22, 2015', 'November 9, 2017', 'June 4, 2010', 'November 10, 2014', 'November 18, 2016', '7,037,500,000', 'June 17, 2016', 'November 2, 2020', '2,993,700,000', 'January 12, 2017', 'August 4, 2017', '2,894,000,000', 'April 6, 2015', 'July 10, 2017', '803,700,000', 'July 15, 2012', 'November 24, 2012', '245,400,000', 'February 19, 2010', 'July 16, 2010', '178,400,000', 'November 24, 2009', 'April 14, 2010', '128,900,000', 'May 22, 2007', 'October 25, 2009', '118,900,000', 'April 6, 2006', 'May 2, 2009', '92,600,000', 'February 27, 2007', 'July 17, 2008', '78,400,000', 'April 6, 2006', 'March 15, 2008', '76,600,000', 'April 9, 2007', 'March 1, 2008', '10,600,000', 'April 6, 2006', 'May 19, 2006', '4,300,000', 'November 28, 2005', 'March 12, 2006', '2,700,000', 'January 31, 2006', 'February 18, 2006', '3,400,000', 'December 1, 2005', 'January 21, 2006', '2,300,000', 'December 18, 2005', 'January 9, 2006', '255,000', 'October 21, 2005', 'October 31, 2005', '247,000', 'October 5, 2005', 'October 29, 2005', '1', 'April 23, 2005', 'April 23, 2005']

In [6]:
art=[]
Artist=[]
Name=[]
a=driver.find_elements_by_xpath("//td/a")
for i in a:
    text=i.text
    art.append(text)
Artist=art[0:60:2]
Name=art[1:60:2]
print(Artist)
print(Name)

['Baby Shark Dance', 'Despacito', 'Shape of You', 'See You Again', 'Johny Johny Yes Papa', 'Mark Ronson', 'Psy', 'ChuChu TV', 'Justin Bieber', 'Maroon 5', 'Katy Perry', 'OneRepublic', 'Ed Sheeran', 'El Chombo', 'Taylor Swift', 'Alan Walker', 'Katy Perry', 'Major Lazer Official', 'Enrique Iglesias', 'Maroon 5', 'Passenger', 'J Balvin', 'Adele', 'Ed Sheeran', 'Shakira', 'Taylor Swift', 'Shakira', 'Me at the zoo', 'Life Goes On', 'Hurt']
['Pinkfong', 'Luis Fonsi', 'Ed Sheeran', 'Wiz Khalifa', 'Uptown Funk', 'Gangnam Style', 'Cocomelon – Nursery Rhymes', 'Sorry', 'Sugar', 'Roar', 'Counting Stars', 'Thinking Out Loud', 'Dame Tu Cosita', 'Shake It Off', 'Faded', 'Dark Horse', 'Lean On', 'Bailando', 'Girls Like You', 'Let Her Go', 'Mi Gente', 'Hello', 'Perfect', 'Waka Waka (This Time for Africa)', 'Blank Space', 'Chantaje', 'Tarzan Boy', 'jawed', 'guitar', 'Galinha Pintadinha – videoclip infantil animado']

In [7]:
views=[]
v=driver.find_elements_by_xpath("//td[@align='center']")
for i in v:
    text=i.text
    views.append(text)
print(views)

['1.', '8.09', '[B]', '2.', '7.24', '[C]', '3.', '5.21', '[D]', '4.', '4.99', '[E]', '5.', '4.90', '[F]', '6.', '4.42', '[G]', '7.', '4.11', '[H]', '8.', '4.00', '[I]', '9.', '3.74', '10.', '3.74', '11.', '3.60', '12.', '3.41', '13.', '3.41', '14.', '3.29', '15.', '3.21', '16.', '3.20', '17.', '3.15', '18.', '3.03', '19.', '3.00', '20.', '2.99', '21.', '2.99', '22.', '2.98', '23.', '2.97', '24.', '2.93', '25.', '2.88', '26.', '2.80', '27.', '2.76', '28.', '2.76', '29.', '2.73', '30.', '2.63', '', '', '[113]', '[M]', '[27]', '[33]', '[N]', '[114]', '[O]', '93', '[117]', '[P]', '171', '[120]', '176', '[121]', '289', '[124]', '124', '[125]', '14', '[127]', '[Q]', '[130]', '[R]', '68', '[132]', '[S]', '22', '[137]', '28', '[139]', '[T]', '12', '[141]', '[143]', '[U]', '[146]', '[147]']

In [8]:
view=[]
view=views[1:-1:3]
view

['8.09',
 '7.24',
 '5.21',
 '4.99',
 '4.90',
 '4.42',
 '4.11',
 '4.00',
 '3.74',
 '11.',
 '3.41',
 '14.',
 '3.21',
 '17.',
 '3.03',
 '20.',
 '2.99',
 '23.',
 '2.93',
 '26.',
 '2.76',
 '29.',
 '2.63',
 '[113]',
 '[33]',
 '[O]',
 '[P]',
 '176',
 '[124]',
 '14',
 '[130]',
 '[132]',
 '[137]',
 '[T]',
 '[143]']

In [9]:
rank=[]
r=driver.find_elements_by_xpath("//td[1][@align='center']")
for i in r:
    text=i.text
    rank.append(text)
print(rank)

['1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.', '11.', '12.', '13.', '14.', '15.', '16.', '17.', '18.', '19.', '20.', '21.', '22.', '23.', '24.', '25.', '26.', '27.', '28.', '29.', '30.']

In [10]:
# create data frame

df=pd.DataFrame()
df['Rank']=rank
df['Name']=Name
df['Artist']=Artist
df['Views']=view[:30]
print(df)

   Rank                                             Name  \
0    1.                                         Pinkfong
1    2.                                       Luis Fonsi
2    3.                                       Ed Sheeran
3    4.                                      Wiz Khalifa
4    5.                                      Uptown Funk
5    6.                                    Gangnam Style
6    7.                       Cocomelon – Nursery Rhymes
7    8.                                            Sorry
8    9.                                            Sugar
9   10.                                             Roar
10  11.                                   Counting Stars
11  12.                                Thinking Out Loud
12  13.                                   Dame Tu Cosita
13  14.                                     Shake It Off
14  15.                                            Faded
15  16.                                       Dark Horse
16  17.                                          Lean On
17  18.                                         Bailando
18  19.                                   Girls Like You
19  20.                                       Let Her Go
20  21.                                         Mi Gente
21  22.                                            Hello
22  23.                                          Perfect
23  24.                 Waka Waka (This Time for Africa)
24  25.                                      Blank Space
25  26.                                         Chantaje
26  27.                                       Tarzan Boy
27  28.                                            jawed
28  29.                                           guitar
29  30.  Galinha Pintadinha – videoclip infantil animado

                  Artist  Views
0       Baby Shark Dance   8.09
1              Despacito   7.24
2           Shape of You   5.21
3          See You Again   4.99
4   Johny Johny Yes Papa   4.90
5            Mark Ronson   4.42
6                    Psy   4.11
7              ChuChu TV   4.00
8          Justin Bieber   3.74
9               Maroon 5    11.
10            Katy Perry   3.41
11           OneRepublic    14.
12            Ed Sheeran   3.21
13             El Chombo    17.
14          Taylor Swift   3.03
15           Alan Walker    20.
16            Katy Perry   2.99
17  Major Lazer Official    23.
18      Enrique Iglesias   2.93
19              Maroon 5    26.
20             Passenger   2.76
21              J Balvin    29.
22                 Adele   2.63
23            Ed Sheeran  [113]
24               Shakira   [33]
25          Taylor Swift    [O]
26               Shakira    [P]
27         Me at the zoo    176
28          Life Goes On  [124]
29                  Hurt     14

### 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
1. Match title (I.e. 1st ODI)
2. Series
3. Place
4. Date
5. Time

In [13]:
driver.get('https://www.bcci.tv/international/fixtures')

In [15]:
match_title=[]
mt=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__format']")
for i in mt:
    text=i.text
    match_title.append(text)
print(match_title)

['TEST', 'T20I', 'T20I', 'T20I', 'T20I', 'T20I', 'ODI', 'ODI', 'ODI', 'TEST', 'TEST', 'TEST', 'TEST', 'TEST']

In [17]:
series=[]
S=driver.find_elements_by_xpath("//div[@class='fixture__teams']")
for i in S:
    text=i.text
    series.append(text.replace("\n",''))
print(series)

['INDIAvENGLAND', 'INDIAvENGLAND', 'INDIAvENGLAND', 'INDIAvENGLAND', 'INDIAvENGLAND', 'INDIAvENGLAND', 'INDIAvENGLAND', 'INDIAvENGLAND', 'INDIAvENGLAND', 'ENGLANDvINDIA', 'ENGLANDvINDIA', 'ENGLANDvINDIA', 'ENGLANDvINDIA', 'ENGLANDvINDIA']

In [19]:
date=[]
d=driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']")
for i in d:
    text=i.text
    date.append(text.replace("\n",' '))
print(date)

['Thursday 04 MARCH 09:30 IST', 'Friday 12 MARCH 19:00 IST', 'Sunday 14 MARCH 19:00 IST', 'Tuesday 16 MARCH 19:00 IST', 'Thursday 18 MARCH 19:00 IST', 'Saturday 20 MARCH 19:00 IST', 'Tuesday 23 MARCH 13:30 IST', 'Friday 26 MARCH 13:30 IST', 'Sunday 28 MARCH 13:30 IST', 'Wednesday 04 AUGUST 15:30 IST', 'Thursday 12 AUGUST 15:30 IST', 'Wednesday 25 AUGUST 15:30 IST', 'Thursday 02 SEPTEMBER 15:30 IST', 'Friday 10 SEPTEMBER 15:30 IST']

In [20]:
time=[]
d=driver.find_elements_by_xpath("//span[@class='fixture__time']")
for i in d:
    text=i.text
    time.append(text)
print(time)

['09:30 IST', '19:00 IST', '19:00 IST', '19:00 IST', '19:00 IST', '19:00 IST', '13:30 IST', '13:30 IST', '13:30 IST', '15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST']

In [22]:
place=[]
d=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in d:
    text=i.text
    place.append(text)
print(place)

['Narendra Modi Stadium, Ahmedabad', 'Narendra Modi Stadium, Ahmedabad', 'Narendra Modi Stadium, Ahmedabad', 'Narendra Modi Stadium, Ahmedabad', 'Narendra Modi Stadium, Ahmedabad', 'Narendra Modi Stadium, Ahmedabad', 'Maharashtra Cricket Association Stadium, Pune', 'Maharashtra Cricket Association Stadium, Pune', 'Maharashtra Cricket Association Stadium, Pune', 'Trent Bridge, Nottingham', "Lord's, London", 'Headingley, Leeds', 'The Oval, London', 'Old Trafford, Manchester']

In [23]:
# create data frame
df=pd.DataFrame()
df['Match_Title']=match_title
df['Series']=series
df['Date']=date
df['Time']=time
df['Place']=place
print(df)

   Match_Title         Series                             Date       Time  \
0         TEST  INDIAvENGLAND      Thursday 04 MARCH 09:30 IST  09:30 IST
1         T20I  INDIAvENGLAND        Friday 12 MARCH 19:00 IST  19:00 IST
2         T20I  INDIAvENGLAND        Sunday 14 MARCH 19:00 IST  19:00 IST
3         T20I  INDIAvENGLAND       Tuesday 16 MARCH 19:00 IST  19:00 IST
4         T20I  INDIAvENGLAND      Thursday 18 MARCH 19:00 IST  19:00 IST
5         T20I  INDIAvENGLAND      Saturday 20 MARCH 19:00 IST  19:00 IST
6          ODI  INDIAvENGLAND       Tuesday 23 MARCH 13:30 IST  13:30 IST
7          ODI  INDIAvENGLAND        Friday 26 MARCH 13:30 IST  13:30 IST
8          ODI  INDIAvENGLAND        Sunday 28 MARCH 13:30 IST  13:30 IST
9         TEST  ENGLANDvINDIA    Wednesday 04 AUGUST 15:30 IST  15:30 IST
10        TEST  ENGLANDvINDIA     Thursday 12 AUGUST 15:30 IST  15:30 IST
11        TEST  ENGLANDvINDIA    Wednesday 25 AUGUST 15:30 IST  15:30 IST
12        TEST  ENGLANDvINDIA  Thursday 02 SEPTEMBER 15:30 IST  15:30 IST
13        TEST  ENGLANDvINDIA    Friday 10 SEPTEMBER 15:30 IST  15:30 IST

                                            Place
0                Narendra Modi Stadium, Ahmedabad
1                Narendra Modi Stadium, Ahmedabad
2                Narendra Modi Stadium, Ahmedabad
3                Narendra Modi Stadium, Ahmedabad
4                Narendra Modi Stadium, Ahmedabad
5                Narendra Modi Stadium, Ahmedabad
6   Maharashtra Cricket Association Stadium, Pune
7   Maharashtra Cricket Association Stadium, Pune
8   Maharashtra Cricket Association Stadium, Pune
9                        Trent Bridge, Nottingham
10                                 Lord's, London
11                              Headingley, Leeds
12                               The Oval, London
13                       Old Trafford, Manchester

### 3. Scrape the details of selenium exception from guru99.com.   Url = https://www.guru99.com/
You need to find following details:
1. Name
2. Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [56]:
driver.get('https://www.guru99.com/selenium-tutorial.html')

In [57]:
descr=[]
name=[]
description=[]
des=driver.find_elements_by_xpath("//tr/td")
for i in des:
    text=i.text
    descr.append(text)
name=descr[0:-1:2]
description=descr[1:-1:2]

# create data frame
df=pd.DataFrame()
df['Name']=name
df['Description']=description
print(df)

                                                 Name Description
0
1
2
3                                                        Tutorial
4   What is Selenium? Introduction to Selenium Aut...    Tutorial
..                                                ...         ...
86                      20 BEST Selenium Alternatives    Tutorial
87                       10 Best iMacros Alternatives    Tutorial
88                Selenium Tutorial PDF: Download Now        Join
89              Live Selenium Project: Banking Domain        Join
90        Live Ecommerce Project: Selenium Automation

[91 rows x 2 columns]

## 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
1. Rank
2. State
3. GSDP(18-19)
4. GSDP(17-18)
5. Share(2017)
6. GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [62]:
driver.get("http://statisticstimes.com/economy/india/indian-states-gdp.php")

In [63]:
rank=[]
code=driver.find_elements_by_xpath("//td[@class='data1']")
for i in code:
    text=i.text
    rank.append(text)
print(rank)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '']

In [64]:
stats=[]
code=driver.find_elements_by_xpath("//td[@class='name']")
for i in code:
    text=i.text
    stats.append(text)
print(stats)

['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Gujarat', 'Karnataka', 'West Bengal', 'Rajasthan', 'Andhra Pradesh', 'Telangana', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Bihar', 'Punjab', 'Odisha', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Nagaland', 'Arunachal Pradesh', 'Mizoram', 'Andaman & Nicobar Islands', 'India', 'Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Karnataka', 'Gujarat', 'West Bengal', 'Rajasthan', 'Telangana', 'Andhra Pradesh', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Bihar', 'Punjab', 'Odisha', 'Assam', 'Jharkhand', 'Chhattisgarh', 'Uttarakhand', 'Himachal Pradesh', 'Jammu & Kashmir', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Manipur', 'Sikkim', 'Nagaland', 'Arunachal Pradesh', 'Mizoram', 'Andaman & Nicobar Islands', 'India']

In [65]:
gsdp_18_19=[]
code=driver.find_elements_by_xpath("//td[@class='data sorting_1']")
for i in code:
    text=i.text
    gsdp_18_19.append(text)
print(gsdp_18_19)

['2,632,792', '1,630,208', '1,584,764', '1,502,899', '1,493,127', '1,089,898', '942,586', '862,957', '861,031', '809,592', '781,653', '774,870', '734,163', '530,363', '526,376', '487,805', '315,881', '304,063', '297,204', '245,895', '155,956', '153,845', '73,170', '49,845', '42,114', '34,433', '33,481', '28,723', '27,870', '27,283', '24,603', '22,287', '-', '2,332,992', '1,465,361', '1,404,761', '1,351,553', '1,322,936', '995,502', '845,247', '782,370', '776,140', '737,156', '707,542', '704,529', '666,075', '486,776', '472,506', '428,031', '282,782', '271,990', '266,537', '221,871', '133,303', '129,877', '66,060', '44,835', '37,571', '31,415', '29,544', '25,323', '25,141', '24,534', '22,488', '20,947', '-']

In [71]:
gsdp_17_18=[]
code=driver.find_elements_by_xpath("//tr[@class='even']/td[3]")
for i in code:
    text=i.text
    gsdp_17_18.append(text)
print(gsdp_17_18)

['1,845,853', '-', '1,253,832', '972,782', '906,672', '856,112', '611,804', '521,275', '329,180', '-', '165,472', '55,984', '38,253', '32,496', '-', '26,503', '1,659,210', '1,476,983', '1,150,711', '881,873', '827,019', '779,647', '562,710', '457,757', '301,242', '-', '-', '50,227', '34,823', '29,148', '-', '24,424']

In [75]:
gsdp_2017=[]
code=driver.find_elements_by_xpath("//tr[@class='even']/td[6]")
for i in code:
    text=i.text
    gsdp_2017.append(text)
print(gsdp_2017)

['246.529', '227.276', '164.820', '130.501', '122.431', '117.180', '80.204', '73.768', '45.982', '37.186', '23.265', '7.538', '5.207', '4.344', '4.126', '3.370', '1,167,776', '1,035,131', '713,376', '594,806', '496,798', '568,265', '377,276', '344,437', '218,232', '-', '-', '35,980', '22,291', '18,549', '-', '17,797']

In [78]:
gdp=[]
code=driver.find_elements_by_xpath("//tr[@class='even']/td[5]")
for i in code:
    text=i.text
    gdp.append(text)
print(gdp)

['8.59%', '7.92%', '5.75%', '4.55%', '4.27%', '4.08%', '2.80%', '2.57%', '1.60%', '1.30%', '0.81%', '0.26%', '0.18%', '0.15%', '0.14%', '0.12%', '8.73%', '8.05%', '5.93%', '4.66%', '4.39%', '4.20%', '2.90%', '2.55%', '1.62%', '1.32%', '0.77%', '0.27%', '0.19%', '0.15%', '0.15%', '0.12%']

In [80]:
#create dataframe

df=pd.DataFrame()
df['Rank']=rank[:30]
df['State']=stats[:30]
df['GSDP(18-19)']=gsdp_18_19[:30]
df['GDDP(17-18)']=gsdp_17_18[:30]
df['Share(2017)']=gsdp_2017[:30]
df['GDP($billion)']=gdp[:30]
print(df)

   Rank             State GSDP(18-19) GDDP(17-18) Share(2017) GDP($billion)
0     1       Maharashtra   2,632,792   1,845,853     246.529         8.59%
1     2        Tamil Nadu   1,630,208           -     227.276         7.92%
2     3     Uttar Pradesh   1,584,764   1,253,832     164.820         5.75%
3     4           Gujarat   1,502,899     972,782     130.501         4.55%
4     5         Karnataka   1,493,127     906,672     122.431         4.27%
5     6       West Bengal   1,089,898     856,112     117.180         4.08%
6     7         Rajasthan     942,586     611,804      80.204         2.80%
7     8    Andhra Pradesh     862,957     521,275      73.768         2.57%
8     9         Telangana     861,031     329,180      45.982         1.60%
9    10    Madhya Pradesh     809,592           -      37.186         1.30%
10   11            Kerala     781,653     165,472      23.265         0.81%
11   12             Delhi     774,870      55,984       7.538         0.26%
12   13           Haryana     734,163      38,253       5.207         0.18%
13   14             Bihar     530,363      32,496       4.344         0.15%
14   15            Punjab     526,376           -       4.126         0.14%
15   16            Odisha     487,805      26,503       3.370         0.12%
16   17             Assam     315,881   1,659,210   1,167,776         8.73%
17   18      Chhattisgarh     304,063   1,476,983   1,035,131         8.05%
18   19         Jharkhand     297,204   1,150,711     713,376         5.93%
19   20       Uttarakhand     245,895     881,873     594,806         4.66%
20   21   Jammu & Kashmir     155,956     827,019     496,798         4.39%
21   22  Himachal Pradesh     153,845     779,647     568,265         4.20%
22   23               Goa      73,170     562,710     377,276         2.90%
23   24           Tripura      49,845     457,757     344,437         2.55%
24   25        Chandigarh      42,114     301,242     218,232         1.62%
25   26        Puducherry      34,433           -           -         1.32%
26   27         Meghalaya      33,481           -           -         0.77%
27   28            Sikkim      28,723      50,227      35,980         0.27%
28   29           Manipur      27,870      34,823      22,291         0.19%
29   30          Nagaland      27,283      29,148      18,549         0.15%

## 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
1. Repository title
2. Repository description
3. Contributors count
4. Language used

In [82]:
driver.get('https://github.com/search?q=top+repository')

In [83]:
rep_title=[]
code=driver.find_elements_by_xpath("//a[@class='v-align-middle']")
for i in code:
    text=i.text
    rep_title.append(text)
print(rep_title)

['OWASP/Top10', 'RobThree/MongoRepository', 'mbadry1/Top-Deep-Learning', 'trinker/topicmodels_learning', 'spring-projects/spring-data-rest', 'csdms-contrib/topotoolbox', 'black-shadows/InterviewBit-Topicwise-Solutions', 'mmazzarolo/top-github', 'larsmaaloee/deep-belief-nets-for-topic-modeling', 'ExpediaDotCom/haystack']

In [84]:
rep_des=[]
code=driver.find_elements_by_xpath("//p[@class='mb-1']")
for i in code:
    text=i.text
    rep_des.append(text.replace('\n',' '))
print(rep_des)

['Official OWASP Top 10 Document Repository', 'Repository abstraction layer on top of Official MongoDB C# driver', 'Top 200 deep learning Github repositories sorted by the number of stars.', 'A repository of learning & R resources related to topic models', 'Simplifies building hypermedia-driven REST web services on top of Spring Data repositories', 'This repository contains the latest release. A newer pre-release version is available at wschwanghart/topotoolbox', 'The repository contains solutions to various problems on interviewbit. The code is merely a snippet (as solved on Int…', 'Android app for browsing GitHub top repositories', 'This repository is a proof of concept toolbox for using Deep Belief Nets for Topic Modeling in Python.', 'Top level repository for Haystack, containing documentation and deployment scripts']

In [87]:
count=[]
code=driver.find_elements_by_xpath("//a[@class='Link--muted']")
for i in code:
    text=i.text
    count.append(text)
print(count)

['1.7k', '290', '1.4k', '200', '739', '20', '142', '94', '144', '260']

In [94]:
lang=[]
language=[]
code=driver.find_elements_by_xpath("//div[@class='mr-3']/span")
for i in code:
    text=i.text
    lang.append(text)
print(lang)

['HTML', 'C#', 'Python', 'R', 'Java', 'HTML', 'C++', 'Java', 'Python', 'HCL']

In [95]:
# create dataframe

df=pd.DataFrame()
df['Repository_Title']=rep_title
df['Repository_Description']=rep_des
df['Contributors_count']=count
df['Language_Used']=lang
print(df)

                                  Repository_Title  \
0                                      OWASP/Top10
1                         RobThree/MongoRepository
2                        mbadry1/Top-Deep-Learning
3                     trinker/topicmodels_learning
4                 spring-projects/spring-data-rest
5                        csdms-contrib/topotoolbox
6   black-shadows/InterviewBit-Topicwise-Solutions
7                            mmazzarolo/top-github
8  larsmaaloee/deep-belief-nets-for-topic-modeling
9                           ExpediaDotCom/haystack

                              Repository_Description Contributors_count  \
0          Official OWASP Top 10 Document Repository               1.7k
1  Repository abstraction layer on top of Officia...                290
2  Top 200 deep learning Github repositories sort...               1.4k
3  A repository of learning & R resources related...                200
4  Simplifies building hypermedia-driven REST web...                739
5  This repository contains the latest release. A...                 20
6  The repository contains solutions to various p...                142
7   Android app for browsing GitHub top repositories                 94
8  This repository is a proof of concept toolbox ...                144
9  Top level repository for Haystack, containing ...                260

  Language_Used
0          HTML
1            C#
2        Python
3             R
4          Java
5          HTML
6           C++
7          Java
8        Python
9           HCL

## 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
1. Name
2. Designation
3. Company
4. Skills they hire for
5. Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [4]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get('https://www.naukri.com/data-science-jobs?k=data%20science')

In [5]:
name=[]
code=driver.find_elements_by_xpath("//div[@class='info fleft']/a")
for i in code:
    text=i.text
    name.append(text)
name

['Data Science Developer',
 'Senior Data Science Engineer',
 'Data Science Lead - Marketing Analytics',
 'Data Science/ Analysis Expert - Machine Learning',
 'QA Data Science Intern',
 'Freshers - Data Science/ Machine Learning/ Analytics/ AI',
 'Freshers - Data Science/ Machine Learning/ AI',
 'Lead Python (Data Science) Engineer',
 'Analyst - Data Science / Data Scientist | Client of Ruboid | Gurgaon',
 'Analyst - Data Science / Data Scientist | Client of Ruboid | Gurgaon',
 'Freshers - Data Science/ Machine Learning/ AI/Analytics',
 'Data Science Lead',
 'Data Science Lead',
 'Data Science Platform Lead',
 'Data Science Platform Lead',
 'Data Science Analyst -Forecasting',
 'Data Science - Fresher',
 'Data Science - Fresher',
 'Senior Data Science & Analytics Platform Engineer',
 'Data Science']

In [7]:
company=[]
code=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in code:
    text=i.text
    company.append(text)
company

['Birlasoft',
 'NetApp',
 'AugmatrixGo',
 'Catalyst',
 'ALTAIR DEVELOPERS PRIVATE LIMITED',
 'CHANDRA PUMPS',
 'Aahana',
 'Tide Software',
 'RUBOID TECHNOVISION PRIVATE LIMITED',
 'RUBOID TECHNOVISION PRIVATE LIMITED',
 'Aahana',
 'NatWest Markets',
 'NatWest Group',
 'NatWest Markets',
 'NatWest Group',
 'Pattern',
 'KREATE ENERGY (I) PRIVATE LIMITED',
 'KREATE ENERGY (I) PRIVATE LIMITED',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Capgemini Technology Services India Limited']

In [8]:
skill=[]
code=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
for i in code:
    text=i.text
    skill.append(text)
skill

['Hands on experience in RUL model, XGBoost and other tree-based modelsBachelors in IT/ s...',
 'Bachelors degree in Data Science, Statistics, Computer Science, or similarKey Qualifica...',
 'Understanding of web analytics and digital marketing are a mustTechnical Skills : - Web...',
 'Job Requirements : - BTech From Tier 1 Institute OR BSTAT & MSTAT From ISI OR Masters i...',
 'Ability to manage multiple assignments simultaneously and shift priorities as neededWe ...',
 'Looking for candidates who are passionate about to start a career in Data Science. Grad...',
 'Candidates willing to make their career in Data Science. Candidate should have good ana...',
 'About You You are enthusiastic about using data technology to solve business problems. ...',
 'Roles and Responsibilities Greetings from Ruboid!!This is with regards to an excellent ...',
 'Roles and Responsibilities Greetings from Ruboid!!This is with regards to an excellent ...',
 'Candidates willing to make their career in Data Science. Candidate should have good ana...',
 'Experience designing and building end-to-end machine learning based pipelines Experienc...',
 'Experience designing and building end-to-end machine learning based pipelines Experienc...',
 'Experience designing and building end-to-end machine learning based pipelines Experienc...',
 'Experience designing and building end-to-end machine learning based pipelines Experienc...',
 'Associate or Bachelors degree in Computer Science, Math, Statistics, Logistics, or clos...',
 'Academic qualification: Graduation / Post Graduation (BSc / MSc in Maths or Statistics)...',
 'Academic qualification: Graduation / Post Graduation (BSc / MSc in Maths or Statistics)...',
 'If you are ready for an exciting career YOU would be responsible for the following.Are ...',
 'SAS, SPSS, Matlab are also preferred Working experience in various other data science t...']

In [12]:
loc=[]
code=driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")
for i in code:
    text=i.text
    loc.append(text)
loc

['4-9 Yrs',
 'Not disclosed',
 'Pune',
 '7-12 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '5-10 Yrs',
 'Not disclosed',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram',
 '2-6 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '0-1 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '0-5 Yrs',
 '3,00,000 - 4,00,000 PA.',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 '0-5 Yrs',
 '3,00,000 - 4,00,000 PA.',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 '0-5 Yrs',
 'Not disclosed',
 'Hyderabad/Secunderabad',
 '3-5 Yrs',
 'Not disclosed',
 'Gurgaon/Gurugram',
 '3-5 Yrs',
 'Not disclosed',
 'Gurgaon/Gurugram',
 '0-5 Yrs',
 '3,00,000 - 4,00,000 PA.',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 '3-6 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-6 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '4-7 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-7 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-6 Yrs',
 'Not disclosed',
 'Pune',
 '0-0 Yrs',
 'Not disclosed',
 'Delhi / NCR',
 '0-0 Yrs',
 'Not disclosed',
 'Delhi / NCR',
 '4-6 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '4-6 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru']

In [13]:
location=loc[2:-1:3]
location

['Pune',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune',
 'Delhi / NCR',
 'Delhi / NCR',
 'Bangalore/Bengaluru']

In [17]:
# create dataframe
df=pd.DataFrame()
df['Name']=name[:19]
df["Designation"]=name[:19]
df['Company']=company[:19]
df['Skill']=skill[:19]
df['Location']=location[:19]
df

,Name,Designation,Company,Skill,Location
0,Data Science Developer,Data Science Developer,Birlasoft,"Hands on experience in RUL model, XGBoost and ...",Pune
1,Senior Data Science Engineer,Senior Data Science Engineer,NetApp,"Bachelors degree in Data Science, Statistics, ...",Bangalore/Bengaluru
2,Data Science Lead - Marketing Analytics,Data Science Lead - Marketing Analytics,AugmatrixGo,Understanding of web analytics and digital mar...,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram"
3,Data Science/ Analysis Expert - Machine Learning,Data Science/ Analysis Expert - Machine Learning,Catalyst,Job Requirements : - BTech From Tier 1 Institu...,Bangalore/Bengaluru
4,QA Data Science Intern,QA Data Science Intern,ALTAIR DEVELOPERS PRIVATE LIMITED,Ability to manage multiple assignments simulta...,Bangalore/Bengaluru
5,Freshers - Data Science/ Machine Learning/ Ana...,Freshers - Data Science/ Machine Learning/ Ana...,CHANDRA PUMPS,Looking for candidates who are passionate abou...,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru"
6,Freshers - Data Science/ Machine Learning/ AI,Freshers - Data Science/ Machine Learning/ AI,Aahana,Candidates willing to make their career in Dat...,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru"
7,Lead Python (Data Science) Engineer,Lead Python (Data Science) Engineer,Tide Software,About You You are enthusiastic about using dat...,Hyderabad/Secunderabad
8,Analyst - Data Science / Data Scientist | Clie...,Analyst - Data Science / Data Scientist | Clie...,RUBOID TECHNOVISION PRIVATE LIMITED,Roles and Responsibilities Greetings from Rubo...,Gurgaon/Gurugram
9,Analyst - Data Science / Data Scientist | Clie...,Analyst - Data Science / Data Scientist | Clie...,RUBOID TECHNOVISION PRIVATE LIMITED,Roles and Responsibilities Greetings from Rubo...,Gurgaon/Gurugram
10,Freshers - Data Science/ Machine Learning/ AI/...,Freshers - Data Science/ Machine Learning/ AI/...,Aahana,Candidates willing to make their career in Dat...,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
11,Data Science Lead,Data Science Lead,NatWest Markets,Experience designing and building end-to-end m...,Bangalore/Bengaluru
12,Data Science Lead,Data Science Lead,NatWest Group,Experience designing and building end-to-end m...,Bangalore/Bengaluru
13,Data Science Platform Lead,Data Science Platform Lead,NatWest Markets,Experience designing and building end-to-end m...,Bangalore/Bengaluru
14,Data Science Platform Lead,Data Science Platform Lead,NatWest Group,Experience designing and building end-to-end m...,Bangalore/Bengaluru
15,Data Science Analyst -Forecasting,Data Science Analyst -Forecasting,Pattern,Associate or Bachelors degree in Computer Scie...,Pune
16,Data Science - Fresher,Data Science - Fresher,KREATE ENERGY (I) PRIVATE LIMITED,Academic qualification: Graduation / Post Grad...,Delhi / NCR
17,Data Science - Fresher,Data Science - Fresher,KREATE ENERGY (I) PRIVATE LIMITED,Academic qualification: Graduation / Post Grad...,Delhi / NCR
18,Senior Data Science & Analytics Platform Engineer,Senior Data Science & Analytics Platform Engineer,GlaxoSmithKline Pharmaceuticals Limited,If you are ready for an exciting career YOU wo...,Bangalore/Bengaluru

## 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
1. Book name
2. Author name
3. Volumes sold
4. Publisher
5. Genre

In [18]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [28]:
b_name=[]
code=driver.find_elements_by_xpath("//tr[@class='odd']/td[2]")
for i in code:
    text=i.text
    b_name.append(text)
b_name

['Harry Potter and the Deathly Hallows',
 'Harry Potter and the Order of the Phoenix',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Prisoner of Azkaban',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Twilight',
 'Fifty Shades Freed',
 'New Moon',
 'Eclipse',
 'Curious Incident of the Dog in the Night-time,The',
 'Short History of Nearly Everything,A',
 'Breaking Dawn',
 'Gruffalo,The',
 'Kite Runner,The',
 'Thousand Splendid Suns,A',
 "Time Traveler's Wife,The",
 "Bridget Jones's Diary:A Novel",
 "Captain Corelli's Mandolin",
 'Life of Pi',
 'Child Called It,A',
 "Angela's Ashes:A Memoir of a Childhood",
 'Northern Lights:His Dark Materials S.',
 'Harry Potter and the Half-blood Prince',
 'Man and Boy',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'PS, I Love You',
 'Shadow of the Wind,The',
 'Broker,The',
 'Subtle Knife,The:His Dark Materials S.',
 "Delia's How to Cook:(Bk.1)",
 'Boy in the Striped Pyjamas,The',
 'Amber Spyglass,The:His Dark Materials S.',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Short History of Tractors in Ukrainian,A',
 'Lord of the Rings,The',
 'Interpretation of Murder,The',
 'Alchemist,The:A Fable About Following Your Dream',
 'Notes from a Small Island',
 'Bridget Jones: The Edge of Reason',
 'I Can Make You Thin',
 'Summons,The',
 'Nigella Express',
 "Memory Keeper's Daughter,The",
 'About a Boy',
 'God Delusion,The',
 'White Teeth',
 'Book Thief,The',
 'Ghost,The',
 'Hunger Games,The:Hunger Games Trilogy',
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [29]:
author=[]
code=driver.find_elements_by_xpath("//tr[@class='odd']/td[3]")
for i in code:
    text=i.text
    author.append(text)
author

['Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Meyer, Stephenie',
 'James, E. L.',
 'Meyer, Stephenie',
 'Meyer, Stephenie',
 'Haddon, Mark',
 'Bryson, Bill',
 'Meyer, Stephenie',
 'Donaldson, Julia',
 'Hosseini, Khaled',
 'Hosseini, Khaled',
 'Niffenegger, Audrey',
 'Fielding, Helen',
 'Bernieres, Louis de',
 'Martel, Yann',
 'Pelzer, Dave',
 'McCourt, Frank',
 'Pullman, Philip',
 'Rowling, J.K.',
 'Parsons, Tony',
 'McCall Smith, Alexander',
 'Ahern, Cecelia',
 'Zafon, Carlos Ruiz',
 'Grisham, John',
 'Pullman, Philip',
 'Smith, Delia',
 'Boyne, John',
 'Pullman, Philip',
 'Gray, John',
 'Lewycka, Marina',
 'Tolkien, J. R. R.',
 'Rubenfeld, Jed',
 'Coelho, Paulo',
 'Bryson, Bill',
 'Fielding, Helen',
 'McKenna, Paul',
 'Grisham, John',
 'Lawson, Nigella',
 'Edwards, Kim',
 'Hornby, Nick',
 'Dawkins, Richard',
 'Smith, Zadie',
 'Zusak, Markus',
 'Harris, Robert',
 'Collins, Suzanne',
 'Oliver, Jamie']

In [30]:
sold=[]
code=driver.find_elements_by_xpath("//tr[@class='odd']/td[4]")
for i in code:
    text=i.text
    sold.append(text)
sold

['4,475,152',
 '4,179,479',
 '3,583,215',
 '3,377,906',
 '2,950,264',
 '2,315,405',
 '2,193,928',
 '2,152,737',
 '2,052,876',
 '1,979,552',
 '1,852,919',
 '1,787,118',
 '1,781,269',
 '1,629,119',
 '1,583,992',
 '1,546,886',
 '1,508,205',
 '1,352,318',
 '1,310,176',
 '1,217,712',
 '1,204,058',
 '1,181,503',
 '1,153,181',
 '1,130,802',
 '1,115,549',
 '1,107,379',
 '1,092,349',
 '1,087,262',
 '1,037,160',
 '1,015,956',
 '1,004,414',
 '1,002,314',
 '992,846',
 '986,115',
 '967,466',
 '962,515',
 '956,114',
 '931,312',
 '924,695',
 '905,086',
 '869,671',
 '862,602',
 '845,858',
 '828,215',
 '816,907',
 '815,586',
 '809,641',
 '807,311',
 '792,187',
 '791,095']

In [31]:
publisher=[]
code=driver.find_elements_by_xpath("//tr[@class='odd']/td[5]")
for i in code:
    text=i.text
    publisher.append(text)
publisher

['Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Little, Brown Book',
 'Random House',
 'Little, Brown Book',
 'Little, Brown Book',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Pan Macmillan',
 'Random House',
 'Canongate',
 'Orion',
 'HarperCollins',
 'Scholastic Ltd.',
 'Bloomsbury',
 'HarperCollins',
 'Little, Brown Book',
 'HarperCollins',
 'Orion',
 'Random House',
 'Scholastic Ltd.',
 'Random House',
 'Random House Childrens Books G',
 'Scholastic Ltd.',
 'HarperCollins',
 'Penguin',
 'HarperCollins',
 'Headline',
 'HarperCollins',
 'Transworld',
 'Pan Macmillan',
 'Transworld',
 'Random House',
 'Random House',
 'Penguin',
 'Penguin',
 'Transworld',
 'Penguin',
 'Transworld',
 'Random House',
 'Scholastic Ltd.',
 'Penguin']

In [32]:
genre=[]
code=driver.find_elements_by_xpath("//tr[@class='odd']/td[6]")
for i in code:
    text=i.text
    genre.append(text)
genre

["Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Young Adult Fiction',
 'Romance & Sagas',
 'Young Adult Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Science',
 'Young Adult Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Autobiography: General',
 'Autobiography: General',
 'Young Adult Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Young Adult Fiction',
 'Popular Culture & Media: General Interest',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Travel Writing',
 'General & Literary Fiction',
 'Fitness & Diet',
 'Crime, Thriller & Adventure',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Popular Science',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'Food & Drink: General']

In [33]:
df=pd.DataFrame()
df['Book Name']=b_name
df['Author Name']=author
df['Volume sold']=sold
df['Publisher']=publisher
df['Genre']=genre
df

,Book Name,Author Name,Volume sold,Publisher,Genre
0,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
1,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
2,Harry Potter and the Goblet of Fire,"Rowling, J.K.","3,583,215",Bloomsbury,Children's Fiction
3,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.","3,377,906",Bloomsbury,Children's Fiction
4,Harry Potter and the Half-blood Prince:Childre...,"Rowling, J.K.","2,950,264",Bloomsbury,Children's Fiction
5,Twilight,"Meyer, Stephenie","2,315,405","Little, Brown Book",Young Adult Fiction
6,Fifty Shades Freed,"James, E. L.","2,193,928",Random House,Romance & Sagas
7,New Moon,"Meyer, Stephenie","2,152,737","Little, Brown Book",Young Adult Fiction
8,Eclipse,"Meyer, Stephenie","2,052,876","Little, Brown Book",Young Adult Fiction
9,"Curious Incident of the Dog in the Night-time,The","Haddon, Mark","1,979,552",Random House,General & Literary Fiction
10,"Short History of Nearly Everything,A","Bryson, Bill","1,852,919",Transworld,Popular Science
11,Breaking Dawn,"Meyer, Stephenie","1,787,118","Little, Brown Book",Young Adult Fiction
12,"Gruffalo,The","Donaldson, Julia","1,781,269",Pan Macmillan,Picture Books
13,"Kite Runner,The","Hosseini, Khaled","1,629,119",Bloomsbury,General & Literary Fiction
14,"Thousand Splendid Suns,A","Hosseini, Khaled","1,583,992",Bloomsbury,General & Literary Fiction
15,"Time Traveler's Wife,The","Niffenegger, Audrey","1,546,886",Random House,General & Literary Fiction
16,Bridget Jones's Diary:A Novel,"Fielding, Helen","1,508,205",Pan Macmillan,General & Literary Fiction
17,Captain Corelli's Mandolin,"Bernieres, Louis de","1,352,318",Random House,General & Literary Fiction
18,Life of Pi,"Martel, Yann","1,310,176",Canongate,General & Literary Fiction
19,"Child Called It,A","Pelzer, Dave","1,217,712",Orion,Autobiography: General
20,Angela's Ashes:A Memoir of a Childhood,"McCourt, Frank","1,204,058",HarperCollins,Autobiography: General
21,Northern Lights:His Dark Materials S.,"Pullman, Philip","1,181,503",Scholastic Ltd.,Young Adult Fiction
22,Harry Potter and the Half-blood Prince,"Rowling, J.K.","1,153,181",Bloomsbury,Science Fiction & Fantasy
23,Man and Boy,"Parsons, Tony","1,130,802",HarperCollins,General & Literary Fiction
24,"No.1 Ladies' Detective Agency,The:No.1 Ladies'...","McCall Smith, Alexander","1,115,549","Little, Brown Book","Crime, Thriller & Adventure"
25,"PS, I Love You","Ahern, Cecelia","1,107,379",HarperCollins,General & Literary Fiction
26,"Shadow of the Wind,The","Zafon, Carlos Ruiz","1,092,349",Orion,General & Literary Fiction
27,"Broker,The","Grisham, John","1,087,262",Random House,"Crime, Thriller & Adventure"
28,"Subtle Knife,The:His Dark Materials S.","Pullman, Philip","1,037,160",Scholastic Ltd.,Young Adult Fiction
29,Delia's How to Cook:(Bk.1),"Smith, Delia","1,015,956",Random House,Food & Drink: General
30,"Boy in the Striped Pyjamas,The","Boyne, John","1,004,414",Random House Childrens Books G,Young Adult Fiction
31,"Amber Spyglass,The:His Dark Materials S.","Pullman, Philip","1,002,314",Scholastic Ltd.,Young Adult Fiction
32,"Men are from Mars, Women are from Venus:A Prac...","Gray, John","992,846",HarperCollins,Popular Culture & Media: General Interest
33,"Short History of Tractors in Ukrainian,A","Lewycka, Marina","986,115",Penguin,General & Literary Fiction
34,"Lord of the Rings,The","Tolkien, J. R. R.","967,466",HarperCollins,Science Fiction & Fantasy
35,"Interpretation of Murder,The","Rubenfeld, Jed","962,515",Headline,"Crime, Thriller & Adventure"
36,"Alchemist,The:A Fable About Following Your Dream","Coelho, Paulo","956,114",HarperCollins,General & Literary Fiction
37,Notes from a Small Island,"Bryson, Bill","931,312",Transworld,Travel Writing
38,Bridget Jones: The Edge of Reason,"Fielding, Helen","924,695",Pan Macmillan,General & Literary Fiction
39,I Can Make You Thin,"McKenna, Paul","905,086",Transworld,Fitness & Diet
40,"Summons,The","Grisham, John","869,671",Random House,"Crime, Thriller & Adventure"
41,Nigella Express,"Lawson, Nigella","862,602",Random House,Food & Drink: General
42,"Memory Keeper's Daughter,The","Edwards, Kim","845,858",Penguin,General & Literary Fiction
43,About a Boy,"Hornby, Nick","828,215",Penguin,General & Literary Fiction
44,"God Delusion,The","Dawkins, Richard","816,907",Transworld,Popular Science
45,White Teeth,"Smith, Zadie","815,586",Penguin,General & Literary Fiction
46,"Book Thief,The","Zusak, Markus","809,641",Transworld,General & Literary Fiction
47,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
48,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
49,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
1. Name
2. Year span
3. Genre
4. Run time
5. Ratings
6. Votes

In [34]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get('https://www.imdb.com/list/ls095964455/')

In [37]:
name=[]
code=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in code:
    text=i.text
    name.append(text)
name

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow',
 'Money Heist',
 'The Big Bang Theory',
 'Black Mirror',
 'Sherlock',
 'Vikings',
 'Pretty Little Liars',
 'The Vampire Diaries',
 'American Horror Story',
 'Breaking Bad',
 'Lucifer',
 'Supernatural',
 'Prison Break',
 'How to Get Away with Murder',
 'Teen Wolf',
 'The Simpsons',
 'Once Upon a Time',
 'Narcos',
 'Daredevil',
 'Friends',
 'How I Met Your Mother',
 'Suits',
 'Mr. Robot',
 'The Originals',
 'Supergirl',
 'Gossip Girl',
 'Sense8',
 'Gotham',
 'Westworld',
 'Jessica Jones',
 'Modern Family',
 'Rick and Morty',
 'Shadowhunters',
 'The End of the F***ing World',
 'House of Cards',
 'Dark',
 'Elite',
 'Sex Education',
 'Shameless',
 'New Girl',
 'Agents of S.H.I.E.L.D.',
 'You',
 'Dexter',
 'Fear the Walking Dead',
 'Family Guy',
 'The Blacklist',
 'Lost',
 'Peaky Blinders',
 'House',
 'Quantico',
 'Orphan Black',
 'Homeland',
 'Blindspot',
 "DC's Legends of Tomorrow",
 "The Handmaid's Tale",
 'Chilling Adventures of Sabrina',
 'The Good Doctor',
 'Jane the Virgin',
 'Glee',
 'South Park',
 'Brooklyn Nine-Nine',
 'Under the Dome',
 'The Umbrella Academy',
 'True Detective',
 'The OA',
 'Desperate Housewives',
 'Better Call Saul',
 'Bates Motel',
 'The Punisher',
 'Atypical',
 'Dynasty',
 'This Is Us',
 'The Good Place',
 'Iron Fist',
 'The Rain',
 'Mindhunter',
 'Revenge',
 'Luke Cage',
 'Scandal',
 'The Defenders',
 'Big Little Lies',
 'Insatiable',
 'The Mentalist',
 'The Crown',
 'Chernobyl',
 'iZombie',
 'Reign',
 'A Series of Unfortunate Events',
 'Criminal Minds',
 'Scream: The TV Series',
 'The Haunting of Hill House']

In [38]:
year=[]
code=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in code:
    text=i.text
    year.append(text)
year

['(2011–2019)',
 '(2016– )',
 '(2010– )',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017– )',
 '(2005– )',
 '(2014– )',
 '(2012–2020)',
 '(2017– )',
 '(2007–2019)',
 '(2011– )',
 '(2010–2017)',
 '(2013–2020)',
 '(2010–2017)',
 '(2009–2017)',
 '(2011– )',
 '(2008–2013)',
 '(2016– )',
 '(2005–2020)',
 '(2005–2017)',
 '(2014–2020)',
 '(2011–2017)',
 '(1989– )',
 '(2011–2018)',
 '(2015–2017)',
 '(2015–2018)',
 '(1994–2004)',
 '(2005–2014)',
 '(2011–2019)',
 '(2015–2019)',
 '(2013–2018)',
 '(2015–2021)',
 '(2007–2012)',
 '(2015–2018)',
 '(2014–2019)',
 '(2016– )',
 '(2015–2019)',
 '(2009–2020)',
 '(2013– )',
 '(2016–2019)',
 '(2017–2019)',
 '(2013–2018)',
 '(2017–2020)',
 '(2018– )',
 '(2019– )',
 '(2011–2021)',
 '(2011–2018)',
 '(2013–2020)',
 '(2018– )',
 '(2006–2021)',
 '(2015– )',
 '(1999– )',
 '(2013– )',
 '(2004–2010)',
 '(2013– )',
 '(2004–2012)',
 '(2015–2018)',
 '(2013–2017)',
 '(2011–2020)',
 '(2015–2020)',
 '(2016– )',
 '(2017– )',
 '(2018–2020)',
 '(2017– )',
 '(2014–2019)',
 '(2009–2015)',
 '(1997– )',
 '(2013–2022)',
 '(2013–2015)',
 '(2019– )',
 '(2014– )',
 '(2016–2019)',
 '(2004–2012)',
 '(2015–2021)',
 '(2013–2017)',
 '(2017–2019)',
 '(2017–2021)',
 '(2017– )',
 '(2016– )',
 '(2016–2020)',
 '(2017–2018)',
 '(2018–2020)',
 '(2017–2019)',
 '(2011–2015)',
 '(2016–2018)',
 '(2012–2018)',
 '(2017)',
 '(2017–2019)',
 '(2018–2019)',
 '(2008–2015)',
 '(2016– )',
 '(2019)',
 '(2015–2019)',
 '(2013–2017)',
 '(2017–2019)',
 '(2005–2020)',
 '(2015–2019)',
 '(2018)']

In [39]:
genre=[]
code=driver.find_elements_by_xpath("//span[@class='genre']")
for i in code:
    text=i.text
    genre.append(text)
genre

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Mystery',
 'Comedy, Romance',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Action, Drama, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Thriller',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama, Fantasy',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Horror',
 'Drama, Horror, Mystery']

In [40]:
time=[]
code=driver.find_elements_by_xpath("//span[@class='runtime']")
for i in code:
    text=i.text
    time.append(text)
time

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min',
 '45 min',
 '53 min',
 '44 min',
 '22 min',
 '43 min',
 '44 min',
 '60 min',
 '44 min',
 '42 min',
 '44 min',
 '55 min',
 '42 min',
 '42 min',
 '60 min',
 '60 min',
 '41 min',
 '60 min',
 '44 min',
 '22 min',
 '22 min',
 '43 min',
 '60 min',
 '55 min',
 '60 min',
 '45 min',
 '46 min',
 '45 min',
 '53 min',
 '30 min',
 '42 min',
 '45 min',
 '22 min',
 '55 min',
 '45 min',
 '60 min',
 '44 min',
 '55 min',
 '43 min',
 '50 min',
 '60 min',
 '45 min',
 '43 min',
 '58 min',
 '330 min',
 '42 min',
 '42 min',
 '50 min',
 '42 min',
 '45 min',
 '572 min']

In [42]:
rating=[]
code=driver.find_elements_by_xpath("//span[@class='ipl-rating-star__rating']")
for i in code:
    text=i.text
    rating.append(text)
Rating=[]
Rating=rating[0:-1:23]
Rating

['9.3',
 '8.7',
 '8.2',
 '7.6',
 '7.6',
 '8.1',
 '6.9',
 '7.6',
 '7.7',
 '7.5',
 '8.3',
 '8.1',
 '8.8',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.5',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.6',
 '8.6',
 '7.7',
 '8.8',
 '8.6',
 '8.9',
 '8.3',
 '8.5',
 '8.6',
 '8.2',
 '6.3',
 '7.4',
 '8.3',
 '7.8',
 '8.6',
 '7.9',
 '8.4',
 '9.2',
 '6.6',
 '8.1',
 '8.7',
 '8.8',
 '7.6',
 '8.3',
 '8.6',
 '7.7',
 '7.5',
 '7.7',
 '8.6',
 '6.9',
 '8.1',
 '8',
 '8.3',
 '8.8',
 '8.7',
 '6.7',
 '8.3',
 '8.3',
 '7.4',
 '6.8',
 '8.4',
 '7.5',
 '8.2',
 '7.8',
 '6.7',
 '8.7',
 '8.4',
 '6.6',
 '8',
 '9',
 '7.9',
 '7.5',
 '8.7',
 '8.2',
 '8.5',
 '8.3',
 '7.3',
 '8.7',
 '8.2',
 '6.5',
 '6.3',
 '8.6',
 '7.8',
 '7.3',
 '7.7',
 '7.3',
 '8.5',
 '6.5',
 '8.1',
 '8.7',
 '9.4',
 '7.8',
 '7.5',
 '7.8',
 '8.1',
 '7.2',
 '8.6']

In [44]:
votes=[]
code=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span")
for i in code:
    text=i.text
    votes.append(text)
Votes

['TV-MA',
 '|',
 '57 min',
 '|',
 'Action, Adventure, Drama',
 'Votes:',
 '1,779,004',
 'TV-14',
 '|',
 '51 min',
 '|',
 'Drama, Fantasy, Horror',
 'Votes:',
 '829,500',
 'TV-14',
 '|',
 '44 min',
 '|',
 'Drama, Horror, Thriller',
 'Votes:',
 '857,112',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Drama, Mystery, Thriller',
 'Votes:',
 '257,306',
 'TV-14',
 '|',
 '43 min',
 '|',
 'Drama, Mystery, Sci-Fi',
 'Votes:',
 '217,861',
 'TV-MA',
 '|',
 '59 min',
 '|',
 'Comedy, Crime, Drama',
 'Votes:',
 '279,529',
 'TV-14',
 '|',
 '45 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '119,859',
 'TV-14',
 '|',
 '41 min',
 '|',
 'Drama, Romance',
 'Votes:',
 '252,627',
 'TV-PG',
 '|',
 '43 min',
 '|',
 'Action, Adventure, Drama',
 'Votes:',
 '306,448',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Action, Adventure, Crime',
 'Votes:',
 '408,415',
 'TV-MA',
 '|',
 '70 min',
 '|',
 'Action, Crime, Mystery',
 'Votes:',
 '302,990',
 'TV-PG',
 '|',
 '22 min',
 '|',
 'Comedy, Romance',
 'Votes:',
 '725,553',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Drama, Sci-Fi, Thriller',
 'Votes:',
 '447,795',
 'TV-14',
 '|',
 '88 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '811,123',
 'TV-MA',
 '|',
 '44 min',
 '|',
 'Action, Adventure, Drama',
 'Votes:',
 '436,138',
 'TV-14',
 '|',
 '44 min',
 '|',
 'Drama, Mystery, Romance',
 'Votes:',
 '152,734',
 'TV-14',
 '|',
 '43 min',
 '|',
 'Drama, Fantasy, Horror',
 'Votes:',
 '284,415',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Drama, Horror, Thriller',
 'Votes:',
 '278,387',
 'TV-MA',
 '|',
 '49 min',
 '|',
 'Crime, Drama, Thriller',
 'Votes:',
 '1,475,118',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Crime, Drama, Fantasy',
 'Votes:',
 '234,976',
 'TV-14',
 '|',
 '44 min',
 '|',
 'Drama, Fantasy, Horror',
 'Votes:',
 '393,957',
 'TV-14',
 '|',
 '44 min',
 '|',
 'Action, Crime, Drama',
 'Votes:',
 '478,368',
 'TV-14',
 '|',
 '43 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '130,380',
 'TV-14',
 '|',
 '41 min',
 '|',
 'Action, Drama, Fantasy',
 'Votes:',
 '127,508',
 'TV-PG',
 '|',
 '22 min',
 '|',
 'Animation, Comedy',
 'Votes:',
 '367,007',
 'TV-PG',
 '|',
 '60 min',
 '|',
 'Adventure, Fantasy, Romance',
 'Votes:',
 '209,045',
 'TV-MA',
 '|',
 '49 min',
 '|',
 'Biography, Crime, Drama',
 'Votes:',
 '359,988',
 'TV-MA',
 '|',
 '54 min',
 '|',
 'Action, Crime, Drama',
 'Votes:',
 '363,894',
 'TV-PG',
 '|',
 '22 min',
 '|',
 'Comedy, Romance',
 'Votes:',
 '833,024',
 'TV-14',
 '|',
 '22 min',
 '|',
 'Comedy, Romance',
 'Votes:',
 '605,454',
 'TV-14',
 '|',
 '44 min',
 '|',
 'Comedy, Drama',
 'Votes:',
 '364,954',
 'TV-MA',
 '|',
 '49 min',
 '|',
 'Crime, Drama, Thriller',
 'Votes:',
 '335,116',
 'TV-14',
 '|',
 '45 min',
 '|',
 'Drama, Fantasy, Horror',
 'Votes:',
 '118,178',
 'TV-PG',
 '|',
 '43 min',
 '|',
 'Action, Adventure, Drama',
 'Votes:',
 '111,669',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Drama, Romance',
 'Votes:',
 '154,942',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Drama, Mystery, Sci-Fi',
 'Votes:',
 '140,031',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Action, Crime, Drama',
 'Votes:',
 '212,386',
 'TV-MA',
 '|',
 '62 min',
 '|',
 'Drama, Mystery, Sci-Fi',
 'Votes:',
 '430,271',
 'TV-MA',
 '|',
 '56 min',
 '|',
 'Action, Crime, Drama',
 'Votes:',
 '193,720',
 'TV-PG',
 '|',
 '22 min',
 '|',
 'Comedy, Drama, Romance',
 'Votes:',
 '358,313',
 'TV-MA',
 '|',
 '23 min',
 '|',
 'Animation, Adventure, Comedy',
 'Votes:',
 '378,667',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Action, Drama, Fantasy',
 'Votes:',
 '53,718',
 'TV-MA',
 '|',
 '25 min',
 '|',
 'Adventure, Comedy, Crime',
 'Votes:',
 '147,450',
 'TV-MA',
 '|',
 '51 min',
 '|',
 'Drama',
 'Votes:',
 '468,156',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '287,667',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Crime, Drama, Thriller',
 'Votes:',
 '49,133',
 'TV-MA',
 '|',
 '45 min',
 '|',
 'Comedy, Drama',
 'Votes:',
 '160,357',
 'TV-MA',
 '|',
 '46 min',
 '|',
 'Comedy, Drama',
 'Votes:',
 '204,532',
 'TV-14',
 '|',
 '22 min',
 '|',
 'Comedy',
 'Votes:',
 '193,441',
 'TV-PG',
 '|',
 '45 min',
 '|',
 'Action, Adventure, Drama',
 'Votes:',
 '200,543',
 'TV-MA',
 '|',
 '45 min',
 '|',
 'Crime, Drama, Romance',
 'Votes:',
 '145,301',
 'TV-MA',
 '|',
 '53 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '648,395',
 'TV-MA',
 '|',
 '44 min',
 '|',
 'Drama, Horror, Sci-Fi',
 'Votes:',
 '112,880',
 'TV-14',
 '|',
 '22 min',
 '|',
 'Animation, Comedy',
 'Votes:',
 '305,716',
 'TV-14',
 '|',
 '43 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '199,015',
 'TV-14',
 '|',
 '44 min',
 '|',
 'Adventure, Drama, Fantasy',
 'Votes:',
 '497,559',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Crime, Drama',
 'Votes:',
 '354,110',
 'TV-14',
 '|',
 '44 min',
 '|',
 'Drama, Mystery',
 'Votes:',
 '416,207',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '57,298',
 'TV-MA',
 '|',
 '44 min',
 '|',
 'Action, Drama, Sci-Fi',
 'Votes:',
 '101,761',
 'TV-MA',
 '|',
 '55 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '314,596',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Action, Crime, Drama',
 'Votes:',
 '66,812',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Action, Adventure, Drama',
 'Votes:',
 '92,337',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Drama, Sci-Fi, Thriller',
 'Votes:',
 '173,733',
 'TV-14',
 '|',
 '60 min',
 '|',
 'Drama, Fantasy, Horror',
 'Votes:',
 '78,350',
 'TV-14',
 '|',
 '41 min',
 '|',
 'Drama',
 'Votes:',
 '63,647',
 'TV-PG',
 '|',
 '60 min',
 '|',
 'Comedy',
 'Votes:',
 '39,062',
 'TV-PG',
 '|',
 '44 min',
 '|',
 'Comedy, Drama, Music',
 'Votes:',
 '137,089',
 'TV-MA',
 '|',
 '22 min',
 '|',
 'Animation, Comedy',
 'Votes:',
 '332,565',
 'TV-14',
 '|',
 '22 min',
 '|',
 'Comedy, Crime',
 'Votes:',
 '228,701',
 'TV-14',
 '|',
 '43 min',
 '|',
 'Drama, Mystery, Sci-Fi',
 'Votes:',
 '101,324',
 'TV-14',
 '|',
 '60 min',
 '|',
 'Action, Adventure, Comedy',
 'Votes:',
 '160,999',
 'TV-MA',
 '|',
 '55 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '501,592',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Drama, Fantasy, Mystery',
 'Votes:',
 '91,127',
 'TV-14',
 '|',
 '45 min',
 '|',
 'Comedy, Drama, Mystery',
 'Votes:',
 '116,119',
 'TV-MA',
 '|',
 '46 min',
 '|',
 'Crime, Drama',
 'Votes:',
 '326,640',
 'TV-MA',
 '|',
 '45 min',
 '|',
 'Drama, Horror, Mystery',
 'Votes:',
 '97,415',
 'TV-MA',
 '|',
 '53 min',
 '|',
 'Action, Crime, Drama',
 'Votes:',
 '185,469',
 'TV-MA',
 '|',
 '30 min',
 '|',
 'Comedy, Drama',
 'Votes:',
 '60,990',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Drama',
 'Votes:',
 '15,011',
 'TV-14',
 '|',
 '45 min',
 '|',
 'Comedy, Drama, Romance',
 'Votes:',
 '108,193',
 'TV-PG',
 '|',
 '22 min',
 '|',
 'Comedy, Drama, Fantasy',
 'Votes:',
 '116,509',
 'TV-MA',
 '|',
 '55 min',
 '|',
 'Action, Adventure, Crime',
 'Votes:',
 '115,196',
 'TV-MA',
 '|',
 '45 min',
 '|',
 'Drama, Sci-Fi, Thriller',
 'Votes:',
 '31,087',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Crime, Drama, Thriller',
 'Votes:',
 '219,597',
 'TV-14',
 '|',
 '44 min',
 '|',
 'Drama, Mystery, Thriller',
 'Votes:',
 '112,761',
 'TV-MA',
 '|',
 '55 min',
 '|',
 'Action, Crime, Drama',
 'Votes:',
 '117,210',
 'TV-14',
 '|',
 '43 min',
 '|',
 'Drama, Thriller',
 'Votes:',
 '67,437',
 'TV-MA',
 '|',
 '50 min',
 '|',
 'Action, Adventure, Crime',
 'Votes:',
 '91,259',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '158,124',
 'TV-MA',
 '|',
 '45 min',
 '|',
 'Comedy, Drama, Thriller',
 'Votes:',
 '22,745',
 'TV-14',
 '|',
 '43 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '166,062',
 'TV-MA',
 '|',
 '58 min',
 '|',
 'Biography, Drama, History',
 'Votes:',
 '152,889',
 'TV-MA',
 '|',
 '330 min',
 '|',
 'Drama, History, Thriller',
 'Votes:',
 '548,411',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Comedy, Crime, Drama',
 'Votes:',
 '60,655',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Drama, Fantasy',
 'Votes:',
 '43,783',
 'TV-PG',
 '|',
 '50 min',
 '|',
 'Adventure, Comedy, Drama',
 'Votes:',
 '54,119',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '162,353',
 'TV-14',
 '|',
 '45 min',
 '|',
 'Crime, Drama, Horror',
 'Votes:',
 '34,212',
 'TV-MA',
 '|',
 '572 min',
 '|',
 'Drama, Horror, Mystery',
 'Votes:',
 '184,035']

In [55]:
Votes=[]
Votes=votes[6:701:7]
Votes

['1,779,004',
 '829,500',
 '857,112',
 '257,306',
 '217,861',
 '279,529',
 '119,859',
 '252,627',
 '306,448',
 '408,415',
 '302,990',
 '725,553',
 '447,795',
 '811,123',
 '436,138',
 '152,734',
 '284,415',
 '278,387',
 '1,475,118',
 '234,976',
 '393,957',
 '478,368',
 '130,380',
 '127,508',
 '367,007',
 '209,045',
 '359,988',
 '363,894',
 '833,024',
 '605,454',
 '364,954',
 '335,116',
 '118,178',
 '111,669',
 '154,942',
 '140,031',
 '212,386',
 '430,271',
 '193,720',
 '358,313',
 '378,667',
 '53,718',
 '147,450',
 '468,156',
 '287,667',
 '49,133',
 '160,357',
 '204,532',
 '193,441',
 '200,543',
 '145,301',
 '648,395',
 '112,880',
 '305,716',
 '199,015',
 '497,559',
 '354,110',
 '416,207',
 '57,298',
 '101,761',
 '314,596',
 '66,812',
 '92,337',
 '173,733',
 '78,350',
 '63,647',
 '39,062',
 '137,089',
 '332,565',
 '228,701',
 '101,324',
 '160,999',
 '501,592',
 '91,127',
 '116,119',
 '326,640',
 '97,415',
 '185,469',
 '60,990',
 '15,011',
 '108,193',
 '116,509',
 '115,196',
 '31,087',
 '219,597',
 '112,761',
 '117,210',
 '67,437',
 '91,259',
 '158,124',
 '22,745',
 '166,062',
 '152,889',
 '548,411',
 '60,655',
 '43,783',
 '54,119',
 '162,353',
 '34,212',
 '184,035']

In [56]:
# create Dataframe

df=pd.DataFrame()
df['Name']=name
df['Year']=year
df['Genre']=genre
df['Runtime']=time
df['Rating']=Rating
df['Votes']=Votes
df

,Name,Year,Genre,Runtime,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,779,004"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"829,500"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"857,112"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,306"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,861"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,783"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,119"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,353"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,212"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"184,035"

## 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
1. Dataset name
2. Data type
3. Task
4. Attribute type
5. No of instances
6. No of attribute
7. Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [58]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get('https://archive.ics.uci.edu/ml/datasets.php')

In [60]:
d_name=[]
code=driver.find_elements_by_xpath("//b/a")
for i in code:
    text=i.text
    d_name.append(text)
d_name

['Abalone',
 'Adult',
 'Annealing',
 'Anonymous Microsoft Web Data',
 'Arrhythmia',
 'Artificial Characters',
 'Audiology (Original)',
 'Audiology (Standardized)',
 'Auto MPG',
 'Automobile',
 'Badges',
 'Balance Scale',
 'Balloons',
 'Breast Cancer',
 'Breast Cancer Wisconsin (Original)',
 'Breast Cancer Wisconsin (Prognostic)',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Pittsburgh Bridges',
 'Car Evaluation',
 'Census Income',
 'Chess (King-Rook vs. King-Knight)',
 'Chess (King-Rook vs. King-Pawn)',
 'Chess (King-Rook vs. King)',
 'Chess (Domain Theories)',
 'Bach Chorales',
 'Connect-4',
 'Credit Approval',
 'Japanese Credit Screening',
 'Computer Hardware',
 'Contraceptive Method Choice',
 'Covertype',
 'Cylinder Bands',
 'Dermatology',
 'Diabetes',
 'DGP2 - The Second Data Generation Program',
 'Document Understanding',
 'EBL Domain Theories',
 'Echocardiogram',
 'Ecoli',
 'Flags',
 'Function Finding',
 'Glass Identification',
 "Haberman's Survival",
 'Hayes-Roth',
 'Heart Disease',
 'Hepatitis',
 'Horse Colic',
 'ICU',
 'Image Segmentation',
 'Internet Advertisements',
 'Ionosphere',
 'Iris',
 'ISOLET',
 'Kinship',
 'Labor Relations',
 'LED Display Domain',
 'Lenses',
 'Letter Recognition',
 'Liver Disorders',
 'Logic Theorist',
 'Lung Cancer',
 'Lymphography',
 'Mechanical Analysis',
 'Meta-data',
 'Mobile Robots',
 'Molecular Biology (Promoter Gene Sequences)',
 'Molecular Biology (Protein Secondary Structure)',
 'Molecular Biology (Splice-junction Gene Sequences)',
 "MONK's Problems",
 'Moral Reasoner',
 'Multiple Features',
 'Mushroom',
 'Musk (Version 1)',
 'Musk (Version 2)',
 'Nursery',
 'Othello Domain Theory',
 'Page Blocks Classification',
 'Optical Recognition of Handwritten Digits',
 'Pen-Based Recognition of Handwritten Digits',
 'Post-Operative Patient',
 'Primary Tumor',
 'Prodigy',
 'Qualitative Structure Activity Relationships',
 'Quadruped Mammals',
 'Servo',
 'Shuttle Landing Control',
 'Solar Flare',
 'Soybean (Large)',
 'Soybean (Small)',
 'Challenger USA Space Shuttle O-Ring',
 'Low Resolution Spectrometer',
 'Spambase',
 'SPECT Heart',
 'SPECTF Heart',
 'Sponge',
 'Statlog Project',
 'Student Loan Relational',
 'Teaching Assistant Evaluation',
 'Tic-Tac-Toe Endgame',
 'Thyroid Disease',
 'Trains',
 'University',
 'Congressional Voting Records',
 'Water Treatment Plant',
 'Waveform Database Generator (Version 1)',
 'Waveform Database Generator (Version 2)',
 'Wine',
 'Yeast',
 'Zoo',
 'Undocumented',
 'Twenty Newsgroups',
 'Australian Sign Language signs',
 'Australian Sign Language signs (High Quality)',
 'US Census Data (1990)',
 'Census-Income (KDD)',
 'Coil 1999 Competition Data',
 'Corel Image Features',
 'E. Coli Genes',
 'EEG Database',
 'El Nino',
 'Entree Chicago Recommendation Data',
 'CMU Face Images',
 'Insurance Company Benchmark (COIL 2000)',
 'Internet Usage Data',
 'IPUMS Census Database',
 'Japanese Vowels',
 'KDD Cup 1998 Data',
 'KDD Cup 1999 Data',
 'M. Tuberculosis Genes',
 'Movie',
 'MSNBC.com Anonymous Web Data',
 'NSF Research Award Abstracts 1990-2003',
 'Pioneer-1 Mobile Robot Data',
 'Pseudo Periodic Synthetic Time Series',
 'Reuters-21578 Text Categorization Collection',
 'Robot Execution Failures',
 'Synthetic Control Chart Time Series',
 'Syskill and Webert Web Page Ratings',
 'UNIX User Data',
 'Volcanoes on Venus - JARtool experiment',
 'Statlog (Australian Credit Approval)',
 'Statlog (German Credit Data)',
 'Statlog (Heart)',
 'Statlog (Landsat Satellite)',
 'Statlog (Image Segmentation)',
 'Statlog (Shuttle)',
 'Statlog (Vehicle Silhouettes)',
 'Connectionist Bench (Nettalk Corpus)',
 'Connectionist Bench (Sonar, Mines vs. Rocks)',
 'Connectionist Bench (Vowel Recognition - Deterding Data)',
 'Economic Sanctions',
 'Protein Data',
 'Cloud',
 'CalIt2 Building People Counts',
 'Dodgers Loop Sensor',
 'Poker Hand',
 'MAGIC Gamma Telescope',
 'UJI Pen Characters',
 'Mammographic Mass',
 'Forest Fires',
 'Reuters Transcribed Subset',
 'Bag of Words',
 'Concrete Compressive Strength',
 'Hill-Valley',
 'Arcene',
 'Dexter',
 'Dorothea',
 'Gisette',
 'Madelon',
 'Ozone Level Detection',
 'Abscisic Acid Signaling Network',
 'Parkinsons',
 'Character Trajectories',
 'Blood Transfusion Service Center',
 'UJI Pen Characters (Version 2)',
 'Semeion Handwritten Digit',
 'SECOM',
 'Plants',
 'Libras Movement',
 'Concrete Slump Test',
 'Communities and Crime',
 'Acute Inflammations',
 'Wine Quality',
 'URL Reputation',
 'p53 Mutants',
 'Parkinsons Telemonitoring',
 'Demospongiae',
 'Opinosis Opinion ⁄ Review',
 'Breast Tissue',
 'Cardiotocography',
 'Wall-Following Robot Navigation Data',
 'Spoken Arabic Digit',
 'Localization Data for Person Activity',
 'AutoUniv',
 'Steel Plates Faults',
 'MiniBooNE particle identification',
 'YearPredictionMSD',
 'PEMS-SF',
 'OpinRank Review Dataset',
 'Relative location of CT slices on axial axis',
 'Online Handwritten Assamese Characters Dataset',
 'PubChem Bioassay Data',
 'Record Linkage Comparison Patterns',
 'Communities and Crime Unnormalized',
 'Vertebral Column',
 'EMG Physical Action Data Set',
 'Vicon Physical Action Data Set',
 'Amazon Commerce reviews set',
 'Amazon Access Samples',
 'Reuter_50_50',
 'Farm Ads',
 'DBWorld e-mails',
 'KEGG Metabolic Relation Network (Directed)',
 'KEGG Metabolic Reaction Network (Undirected)',
 'Bank Marketing',
 'YouTube Comedy Slam Preference Data',
 'Gas Sensor Array Drift Dataset',
 'ILPD (Indian Liver Patient Dataset)',
 'OPPORTUNITY Activity Recognition',
 'Nomao',
 'SMS Spam Collection',
 'Skin Segmentation',
 'Planning Relax',
 'PAMAP2 Physical Activity Monitoring',
 'Restaurant & consumer data',
 'CNAE-9',
 'Individual household electric power consumption',
 'seeds',
 'Northix',
 'QtyT40I10D100K',
 'Legal Case Reports',
 'Human Activity Recognition Using Smartphones',
 'One-hundred plant species leaves data set',
 'Energy efficiency',
 'Yacht Hydrodynamics',
 'Fertility',
 'Daphnet Freezing of Gait',
 '3D Road Network (North Jutland, Denmark)',
 'ISTANBUL STOCK EXCHANGE',
 'Buzz in social media',
 'First-order theorem proving',
 'Wearable Computing: Classification of Body Postures and Movements (PUC-Rio)',
 'Gas sensor arrays in open sampling settings',
 'Climate Model Simulation Crashes',
 'MicroMass',
 'QSAR biodegradation',
 'BLOGGER',
 'Daily and Sports Activities',
 'User Knowledge Modeling',
 'Reuters RCV1 RCV2 Multilingual, Multiview Text Categorization Test collection',
 'NYSK',
 'Turkiye Student Evaluation',
 "ser Knowledge Modeling Data (Students' Knowledge Levels on DC Electrical Machines)",
 'EEG Eye State',
 'Physicochemical Properties of Protein Tertiary Structure',
 'seismic-bumps',
 'banknote authentication',
 'USPTO Algorithm Challenge, run by NASA-Harvard Tournament Lab and TopCoder Problem: Pat',
 'YouTube Multiview Video Games Dataset',
 'Gas Sensor Array Drift Dataset at Different Concentrations',
 'Activities of Daily Living (ADLs) Recognition Using Binary Sensors',
 'SkillCraft1 Master Table Dataset',
 'Weight Lifting Exercises monitored with Inertial Measurement Units',
 'SML2010',
 'Bike Sharing Dataset',
 'Predict keywords activities in a online social media',
 'Thoracic Surgery Data',
 'EMG dataset in Lower Limb',
 'SUSY',
 'HIGGS',
 'Qualitative_Bankruptcy',
 'LSVT Voice Rehabilitation',
 'Dataset for ADL Recognition with Wrist-worn Accelerometer',
 'Wilt',
 'User Identification From Walking Activity',
 'Activity Recognition from Single Chest-Mounted Accelerometer',
 'Leaf',
 'Dresses_Attribute_Sales',
 'Tamilnadu Electricity Board Hourly Readings',
 'Airfoil Self-Noise',
 'Wholesale customers',
 'Twitter Data set for Arabic Sentiment Analysis',
 'Combined Cycle Power Plant',
 'Urban Land Cover',
 'Diabetes 130-US hospitals for years 1999-2008',
 'Bach Choral Harmony',
 'StoneFlakes',
 'Tennis Major Tournament Match Statistics',
 'Parkinson Speech Dataset with Multiple Types of Sound Recordings',
 'Gesture Phase Segmentation',
 'Perfume Data',
 'BlogFeedback',
 'REALDISP Activity Recognition Dataset',
 'Newspaper and magazine images segmentation dataset',
 'AAAI 2014 Accepted Papers',
 'Gas sensor array under flow modulation',
 'Gas sensor array exposed to turbulent gas mixtures',
 'UJIIndoorLoc',
 'Sentence Classification',
 'Dow Jones Index',
 'sEMG for Basic Hand movements',
 'AAAI 2013 Accepted Papers',
 'Geographical Original of Music',
 'Condition Based Maintenance of Naval Propulsion Plants',
 'Grammatical Facial Expressions',
 'NoisyOffice',
 'MHEALTH Dataset',
 'Student Performance',
 'ElectricityLoadDiagrams20112014',
 'Gas sensor array under dynamic gas mixtures',
 'microblogPCU',
 'Firm-Teacher_Clave-Direction_Classification',
 'Dataset for Sensorless Drive Diagnosis',
 'TV News Channel Commercial Detection Dataset',
 'Phishing Websites',
 'Greenhouse Gas Observing Network',
 'Diabetic Retinopathy Debrecen Data Set',
 'HIV-1 protease cleavage',
 'Sentiment Labelled Sentences',
 'Online News Popularity',
 'Forest type mapping',
 'wiki4HE',
 'Online Video Characteristics and Transcoding Time Dataset',
 'Chronic_Kidney_Disease',
 'Machine Learning based ZZAlpha Ltd. Stock Recommendations 2012-2014',
 'Folio',
 'Taxi Service Trajectory - Prediction Challenge, ECML PKDD 2015',
 'Cuff-Less Blood Pressure Estimation',
 'Smartphone-Based Recognition of Human Activities and Postural Transitions',
 'Mice Protein Expression',
 'UJIIndoorLoc-Mag',
 'Heterogeneity Activity Recognition',
 'Educational Process Mining (EPM): A Learning Analytics Data Set',
 'HEPMASS',
 'Indoor User Movement Prediction from RSS data',
 'Open University Learning Analytics dataset',
 'default of credit card clients',
 'Mesothelioma’s disease data set',
 'Online Retail',
 'SIFT10M',
 'GPS Trajectories',
 'Detect Malacious Executable(AntiVirus)',
 'Occupancy Detection',
 'Improved Spiral Test Using Digitized Graphics Tablet for Monitoring Parkinson’s Disease',
 'News Aggregator',
 'Air Quality',
 'Twin gas sensor arrays',
 'Gas sensors for home activity monitoring',
 'Facebook Comment Volume Dataset',
 'Smartphone Dataset for Human Activity Recognition (HAR) in Ambient Assisted Living (AAL)',
 'Polish companies bankruptcy data',
 'Activity Recognition system based on Multisensor data fusion (AReM)',
 'Dota2 Games Results',
 'Facebook metrics',
 'UbiqLog (smartphone lifelogging)',
 'NIPS Conference Papers 1987-2015',
 'HTRU2',
 'Drug consumption (quantified)',
 'Appliances energy prediction',
 'Miskolc IIS Hybrid IPS',
 'KDC-4007 dataset Collection',
 'Geo-Magnetic field and WLAN dataset for indoor localisation from wristband and smartphone',
 'DrivFace',
 'Website Phishing',
 'YouTube Spam Collection',
 'Beijing PM2.5 Data',
 'Cargo 2000 Freight Tracking and Tracing',
 'Cervical cancer (Risk Factors)',
 'Quality Assessment of Digital Colposcopies',
 'KASANDR',
 'FMA: A Dataset For Music Analysis',
 'Air quality',
 'Epileptic Seizure Recognition',
 'Devanagari Handwritten Character Dataset',
 'Stock portfolio performance',
 'MoCap Hand Postures',
 'Early biomarkers of Parkinson�s disease based on natural connected speech',
 'Data for Software Engineering Teamwork Assessment in Education Setting',
 'PM2.5 Data of Five Chinese Cities',
 'Parkinson Disease Spiral Drawings Using Digitized Graphics Tablet',
 'Sales_Transactions_Dataset_Weekly',
 'Las Vegas Strip',
 'Eco-hotel',
 'MEU-Mobile KSD',
 'Crowdsourced Mapping',
 'gene expression cancer RNA-Seq',
 'Hybrid Indoor Positioning Dataset from WiFi RSSI, Bluetooth and magnetometer',
 'chestnut – LARVIC',
 'Burst Header Packet (BHP) flooding attack on Optical Burst Switching (OBS) Network',
 'Motion Capture Hand Postures',
 'Anuran Calls (MFCCs)',
 'TTC-3600: Benchmark dataset for Turkish text categorization',
 'Gastrointestinal Lesions in Regular Colonoscopy',
 'Daily Demand Forecasting Orders',
 'Paper Reviews',
 'extention of Z-Alizadeh sani dataset',
 'Z-Alizadeh Sani',
 'Dynamic Features of VirusShare Executables',
 'IDA2016Challenge',
 'DSRC Vehicle Communications',
 'Mturk User-Perceived Clusters over Images',
 'Character Font Images',
 'DeliciousMIL: A Data Set for Multi-Label Multi-Instance Learning with Instance Labels',
 'Autistic Spectrum Disorder Screening Data for Children',
 'Autistic Spectrum Disorder Screening Data for Adolescent',
 'APS Failure at Scania Trucks',
 'Wireless Indoor Localization',
 'HCC Survival',
 'CSM (Conventional and Social Media Movies) Dataset 2014 and 2015',
 'University of Tehran Question Dataset 2016 (UTQD.2016)',
 'Autism Screening Adult',
 'Activity recognition with healthy older people using a batteryless wearable sensor',
 'Immunotherapy Dataset',
 'Cryotherapy Dataset',
 'OCT data & Color Fundus Images of Left & Right Eyes',
 'Discrete Tone Image Dataset',
 'News Popularity in Multiple Social Media Platforms',
 'Ultrasonic flowmeter diagnostics',
 'ICMLA 2014 Accepted Papers Data Set',
 'BLE RSSI Dataset for Indoor localization and Navigation',
 'Container Crane Controller Data Set',
 'Residential Building Data Set',
 'Health News in Twitter',
 'chipseq',
 'SGEMM GPU kernel performance',
 'Repeat Consumption Matrices',
 'detection_of_IoT_botnet_attacks_N_BaIoT',
 'Absenteeism at work',
 'SCADI',
 'Condition monitoring of hydraulic systems',
 'Carbon Nanotubes',
 'Optical Interconnection Network',
 'Sports articles for objectivity analysis',
 'Breast Cancer Coimbra',
 'GNFUV Unmanned Surface Vehicles Sensor Data',
 'Dishonest Internet users Dataset',
 'Victorian Era Authorship Attribution',
 'Simulated Falls and Daily Living Activities Data Set',
 'Multimodal Damage Identification for Humanitarian Computing',
 'EEG Steady-State Visual Evoked Potential Signals',
 'Roman Urdu Data Set',
 'Avila',
 'PANDOR',
 'Drug Review Dataset (Druglib.com)',
 'Drug Review Dataset (Drugs.com)',
 'Physical Unclonable Functions',
 'Superconductivty Data',
 'WESAD (Wearable Stress and Affect Detection)',
 'GNFUV Unmanned Surface Vehicles Sensor Data Set 2',
 'Student Academics Performance',
 'Online Shoppers Purchasing Intention Dataset',
 'PMU-UD',
 "Parkinson's Disease Classification",
 'Electrical Grid Stability Simulated Data',
 'Caesarian Section Classification Dataset',
 'BAUM-1',
 'BAUM-2',
 'Audit Data',
 'BuddyMove Data Set',
 'Real estate valuation data set',
 'Early biomarkers of Parkinson’s disease based on natural connected speech Data Set',
 'Somerville Happiness Survey',
 '2.4 GHZ Indoor Channel Measurements',
 'EMG data for gestures',
 'Parking Birmingham',
 'Behavior of the urban traffic of the city of Sao Paulo in Brazil',
 'Travel Reviews',
 'Tarvel Review Ratings',
 'Rice Leaf Diseases',
 'Gas sensor array temperature modulation',
 'Facebook Live Sellers in Thailand',
 'Parkinson Dataset with replicated acoustic features',
 'Metro Interstate Traffic Volume',
 'Query Analytics Workloads Dataset',
 'Wave Energy Converters',
 'PPG-DaLiA',
 'Alcohol QCM Sensor Dataset',
 'Divorce Predictors data set',
 'Incident management process enriched event log',
 'Opinion Corpus for Lebanese Arabic Reviews (OCLAR)',
 'MEx',
 'Beijing Multi-Site Air-Quality Data',
 'Online Retail II',
 'Hepatitis C Virus (HCV) for Egyptian patients',
 'QSAR fish toxicity',
 'QSAR aquatic toxicity',
 'Human Activity Recognition from Continuous Ambient Sensor Data',
 'WISDM Smartphone and Smartwatch Activity and Biometrics Dataset',
 'QSAR oral toxicity',
 'QSAR androgen receptor',
 'QSAR Bioconcentration classes dataset',
 'QSAR fish bioconcentration factor (BCF)',
 'A study of Asian Religious and Biblical Texts',
 'Real-time Election Results: Portugal 2019',
 'Bias correction of numerical prediction model temperature forecast',
 'Bar Crawl: Detecting Heavy Drinking',
 'Kitsune Network Attack Dataset',
 'Shoulder Implant X-Ray Manufacturer Classification',
 'Speaker Accent Recognition',
 'Heart failure clinical records',
 'Deepfakes: Medical Image Tamper Detection',
 'selfBACK',
 'South German Credit',
 'Exasens',
 'Swarm Behaviour',
 'Crop mapping using fused optical-radar data set',
 'BitcoinHeistRansomwareAddressDataset',
 'Facebook Large Page-Page Network',
 'Amphibians',
 'Early stage diabetes risk prediction dataset.',
 'Turkish Spam V01',
 'Stock keeping units',
 'Demand Forecasting for a store',
 'Detect Malware Types',
 'Wave Energy Converters',
 'Youtube cookery channels viewers comments in Hinglish',
 'Pedestrian in Traffic Dataset',
 'Cervical Cancer Behavior Risk',
 'Sattriya_Dance_Single_Hand_Gestures Dataset',
 'Divorce Predictors data set',
 '3W dataset',
 'Malware static and dynamic features VxHeaven and Virus Total',
 'Internet Firewall Data',
 'User Profiling and Abusive Language Detection Dataset',
 'Estimation of obesity levels based on eating habits and physical condition',
 'Rice (Cammeo and Osmancik)',
 'Vehicle routing and scheduling problems',
 'Algerian Forest Fires Dataset',
 'Breath Metabolomics',
 'Horton General Hospital',
 'UrbanGB, urban road accidents coordinates labelled by the urban center',
 'Gas Turbine CO and NOx Emission Data Set',
 'Activity recognition using wearable physiological measurements',
 'clickstream data for online shopping',
 'CNNpred: CNN-based stock market prediction using a diverse set of variables',
 'Apartment for rent classified',
 ': Simulated Data set of Iraqi tourism places',
 'Nasarian CAD Dataset',
 'Monolithic Columns in Troad and Mysia Region',
 'Bar Crawl: Detecting Heavy Drinking',
 'Seoul Bike Sharing Demand',
 'Person Classification Gait Data',
 'Shill Bidding Dataset',
 'Iranian Churn Dataset',
 'Unmanned Aerial Vehicle (UAV) Intrusion Detection',
 'Bone marrow transplant: children',
 'Exasens',
 'COVID-19 Surveillance',
 'Refractive errors',
 'Shoulder Implant X-Ray Manufacturer Classification',
 'CLINC150',
 'HCV data',
 'Taiwanese Bankruptcy Prediction',
 'South German Credit (UPDATE)',
 'IIWA14-R820-Gazebo-Dataset-10Trajectories',
 'Guitar Chords finger positions',
 'Russian Corpus of Biographical Texts',
 'Codon usage',
 'Intelligent Media Accelerometer and Gyroscope (IM-AccGyro) Dataset',
 'Myocardial infarction complications',
 'Hungarian Chickenpox Cases',
 'Simulated data for survival modelling',
 'Student Performance on an entrance examination',
 'Chemical Composition of Ceramic Samples',
 'Labeled Text Forum Threads Dataset',
 'Stock keeping units',
 'BLE RSSI dataset for Indoor localization',
 'Basketball dataset',
 'GitHub MUSAE',
 'Anticancer peptides',
 'Monolithic Columns in Troad and Mysia Region',
 'Gender by Name',
 'Iranian Churn Dataset',
 'Unmanned Aerial Vehicle (UAV) Intrusion Detection',
 'Shoulder Implant Manufacture Classification',
 'LastFM Asia Social Network',
 'Wheat kernels',
 'Productivity Prediction of Garment Employees',
 'Multi-view Brain Networks',
 'LastFM Asia Social Network',
 'Wisesight Sentiment Corpus',
 'AI4I 2020 Predictive Maintenance Dataset',
 'Dry Bean Dataset',
 'in-vehicle coupon recommendation',
 'Gait Classification']

In [62]:
types=[]
code=driver.find_elements_by_xpath("//td/p[@class='normal']")
for i in code:
    text=i.text
    types.append(text)
types

['Classification (442)\nRegression (134)\nClustering (117)\nOther (56)',
 'Categorical (38)\nNumerical (393)\nMixed (55)',
 'Multivariate (455)\nUnivariate (27)\nSequential (57)\nTime-Series (119)\nText (66)\nDomain-Theory (23)\nOther (21)',
 'Life Sciences (138)\nPhysical Sciences (57)\nCS / Engineering (214)\nSocial Sciences (36)\nBusiness (44)\nGame (11)\nOther (80)',
 'Less than 10 (150)\n10 to 100 (266)\nGreater than 100 (104)',
 'Less than 100 (36)\n100 to 1000 (196)\nGreater than 1000 (318)',
 'Matrix (408)\nNon-Matrix (177)',
 'Table View  List View',
 'Abalone',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '4177 ',
 '8 ',
 '1995 ',
 'Adult',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '48842 ',
 '14 ',
 '1996 ',
 'Annealing',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '798 ',
 '38 ',
 ' ',
 'Anonymous Microsoft Web Data',
 ' ',
 'Recommender-Systems ',
 'Categorical ',
 '37711 ',
 '294 ',
 '1998 ',
 'Arrhythmia',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '452 ',
 '279 ',
 '1998 ',
 'Artificial Characters',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '6000 ',
 '7 ',
 '1992 ',
 'Audiology (Original)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '226 ',
 ' ',
 '1987 ',
 'Audiology (Standardized)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '226 ',
 '69 ',
 '1992 ',
 'Auto MPG',
 'Multivariate ',
 'Regression ',
 'Categorical, Real ',
 '398 ',
 '8 ',
 '1993 ',
 'Automobile',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer, Real ',
 '205 ',
 '26 ',
 '1987 ',
 'Badges',
 'Univariate, Text ',
 'Classification ',
 ' ',
 '294 ',
 '1 ',
 '1994 ',
 'Balance Scale',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '625 ',
 '4 ',
 '1994 ',
 'Balloons',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '16 ',
 '4 ',
 ' ',
 'Breast Cancer',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '286 ',
 '9 ',
 '1988 ',
 'Breast Cancer Wisconsin (Original)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '699 ',
 '10 ',
 '1992 ',
 'Breast Cancer Wisconsin (Prognostic)',
 'Multivariate ',
 'Classification, Regression ',
 'Real ',
 '198 ',
 '34 ',
 '1995 ',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Multivariate ',
 'Classification ',
 'Real ',
 '569 ',
 '32 ',
 '1995 ',
 'Pittsburgh Bridges',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '108 ',
 '13 ',
 '1990 ',
 'Car Evaluation',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '1728 ',
 '6 ',
 '1997 ',
 'Census Income',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '48842 ',
 '14 ',
 '1996 ',
 'Chess (King-Rook vs. King-Knight)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Categorical, Integer ',
 ' ',
 '22 ',
 '1988 ',
 'Chess (King-Rook vs. King-Pawn)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '3196 ',
 '36 ',
 '1989 ',
 'Chess (King-Rook vs. King)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '28056 ',
 '6 ',
 '1994 ',
 'Chess (Domain Theories)',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Bach Chorales',
 'Univariate, Time-Series ',
 ' ',
 'Categorical, Integer ',
 '100 ',
 '6 ',
 ' ',
 'Connect-4',
 'Multivariate, Spatial ',
 'Classification ',
 'Categorical ',
 '67557 ',
 '42 ',
 '1995 ',
 'Credit Approval',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '690 ',
 '15 ',
 ' ',
 'Japanese Credit Screening',
 'Multivariate, Domain-Theory ',
 'Classification ',
 'Categorical, Real, Integer ',
 '125 ',
 ' ',
 '1992 ',
 'Computer Hardware',
 'Multivariate ',
 'Regression ',
 'Integer ',
 '209 ',
 '9 ',
 '1987 ',
 'Contraceptive Method Choice',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '1473 ',
 '9 ',
 '1997 ',
 'Covertype',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '581012 ',
 '54 ',
 '1998 ',
 'Cylinder Bands',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '512 ',
 '39 ',
 '1995 ',
 'Dermatology',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '366 ',
 '33 ',
 '1998 ',
 'Diabetes',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Integer ',
 ' ',
 '20 ',
 ' ',
 'DGP2 - The Second Data Generation Program',
 'Data-Generator ',
 ' ',
 'Real ',
 ' ',
 ' ',
 ' ',
 'Document Understanding',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1994 ',
 'EBL Domain Theories',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Echocardiogram',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '132 ',
 '12 ',
 '1989 ',
 'Ecoli',
 'Multivariate ',
 'Classification ',
 'Real ',
 '336 ',
 '8 ',
 '1996 ',
 'Flags',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '194 ',
 '30 ',
 '1990 ',
 'Function Finding',
 ' ',
 'Function-Learning ',
 'Real ',
 '352 ',
 ' ',
 '1990 ',
 'Glass Identification',
 'Multivariate ',
 'Classification ',
 'Real ',
 '214 ',
 '10 ',
 '1987 ',
 "Haberman's Survival",
 'Multivariate ',
 'Classification ',
 'Integer ',
 '306 ',
 '3 ',
 '1999 ',
 'Hayes-Roth',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '160 ',
 '5 ',
 '1989 ',
 'Heart Disease',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '303 ',
 '75 ',
 '1988 ',
 'Hepatitis',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '155 ',
 '19 ',
 '1988 ',
 'Horse Colic',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '368 ',
 '27 ',
 '1989 ',
 'ICU',
 'Multivariate, Time-Series ',
 ' ',
 'Real ',
 ' ',
 ' ',
 ' ',
 'Image Segmentation',
 'Multivariate ',
 'Classification ',
 'Real ',
 '2310 ',
 '19 ',
 '1990 ',
 'Internet Advertisements',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '3279 ',
 '1558 ',
 '1998 ',
 'Ionosphere',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '351 ',
 '34 ',
 '1989 ',
 'Iris',
 'Multivariate ',
 'Classification ',
 'Real ',
 '150 ',
 '4 ',
 '1988 ',
 'ISOLET',
 'Multivariate ',
 'Classification ',
 'Real ',
 '7797 ',
 '617 ',
 '1994 ',
 'Kinship',
 'Relational ',
 'Relational-Learning ',
 'Categorical ',
 '104 ',
 '12 ',
 '1990 ',
 'Labor Relations',
 'Multivariate ',
 ' ',
 'Categorical, Integer, Real ',
 '57 ',
 '16 ',
 '1988 ',
 'LED Display Domain',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Categorical ',
 ' ',
 '7 ',
 '1988 ',
 'Lenses',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '24 ',
 '4 ',
 '1990 ',
 'Letter Recognition',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '20000 ',
 '16 ',
 '1991 ',
 'Liver Disorders',
 'Multivariate ',
 ' ',
 'Categorical, Integer, Real ',
 '345 ',
 '7 ',
 '1990 ',
 'Logic Theorist',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Lung Cancer',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '32 ',
 '56 ',
 '1992 ',
 'Lymphography',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '148 ',
 '18 ',
 '1988 ',
 'Mechanical Analysis',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '209 ',
 '8 ',
 '1990 ',
 'Meta-data',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '528 ',
 '22 ',
 '1996 ',
 'Mobile Robots',
 'Domain-Theory ',
 ' ',
 'Categorical, Integer, Real ',
 ' ',
 ' ',
 '1995 ',
 'Molecular Biology (Promoter Gene Sequences)',
 'Sequential, Domain-Theory ',
 'Classification ',
 'Categorical ',
 '106 ',
 '58 ',
 '1990 ',
 'Molecular Biology (Protein Secondary Structure)',
 'Sequential ',
 'Classification ',
 'Categorical ',
 '128 ',
 ' ',
 ' ',
 'Molecular Biology (Splice-junction Gene Sequences)',
 'Sequential, Domain-Theory ',
 'Classification ',
 'Categorical ',
 '3190 ',
 '61 ',
 '1992 ',
 "MONK's Problems",
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '432 ',
 '7 ',
 '1992 ',
 'Moral Reasoner',
 'Domain-Theory ',
 ' ',
 ' ',
 '202 ',
 ' ',
 '1994 ',
 'Multiple Features',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '2000 ',
 '649 ',
 ' ',
 'Mushroom',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '8124 ',
 '22 ',
 '1987 ',
 'Musk (Version 1)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '476 ',
 '168 ',
 '1994 ',
 'Musk (Version 2)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '6598 ',
 '168 ',
 '1994 ',
 'Nursery',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '12960 ',
 '8 ',
 '1997 ',
 'Othello Domain Theory',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1991 ',
 'Page Blocks Classification',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '5473 ',
 '10 ',
 '1995 ',
 'Optical Recognition of Handwritten Digits',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '5620 ',
 '64 ',
 '1998 ',
 'Pen-Based Recognition of Handwritten Digits',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '10992 ',
 '16 ',
 '1998 ',
 'Post-Operative Patient',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '90 ',
 '8 ',
 '1993 ',
 'Primary Tumor',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '339 ',
 '17 ',
 '1988 ',
 'Prodigy',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Qualitative Structure Activity Relationships',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Quadruped Mammals',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 ' ',
 '72 ',
 '1992 ',
 'Servo',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer ',
 '167 ',
 '4 ',
 '1993 ',
 'Shuttle Landing Control',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '15 ',
 '6 ',
 '1988 ',
 'Solar Flare',
 'Multivariate ',
 'Regression ',
 'Categorical ',
 '1389 ',
 '10 ',
 '1989 ',
 'Soybean (Large)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '307 ',
 '35 ',
 '1988 ',
 'Soybean (Small)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '47 ',
 '35 ',
 '1987 ',
 'Challenger USA Space Shuttle O-Ring',
 'Multivariate ',
 'Regression ',
 'Integer ',
 '23 ',
 '4 ',
 '1993 ',
 'Low Resolution Spectrometer',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '531 ',
 '102 ',
 '1988 ',
 'Spambase',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '4601 ',
 '57 ',
 '1999 ',
 'SPECT Heart',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '267 ',
 '22 ',
 '2001 ',
 'SPECTF Heart',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '267 ',
 '44 ',
 '2001 ',
 'Sponge',
 'Multivariate ',
 'Clustering ',
 'Categorical, Integer ',
 '76 ',
 '45 ',
 ' ',
 'Statlog Project',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1992 ',
 'Student Loan Relational',
 'Domain-Theory ',
 ' ',
 ' ',
 '1000 ',
 ' ',
 '1993 ',
 'Teaching Assistant Evaluation',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '151 ',
 '5 ',
 '1997 ',
 'Tic-Tac-Toe Endgame',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '958 ',
 '9 ',
 '1991 ',
 'Thyroid Disease',
 'Multivariate, Domain-Theory ',
 'Classification ',
 'Categorical, Real ',
 '7200 ',
 '21 ',
 '1987 ',
 'Trains',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '10 ',
 '32 ',
 '1994 ',
 'University',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '285 ',
 '17 ',
 '1988 ',
 'Congressional Voting Records',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '435 ',
 '16 ',
 '1987 ',
 'Water Treatment Plant',
 'Multivariate ',
 'Clustering ',
 'Integer, Real ',
 '527 ',
 '38 ',
 '1993 ',
 'Waveform Database Generator (Version 1)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 '5000 ',
 '21 ',
 '1988 ',
 'Waveform Database Generator (Version 2)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 '5000 ',
 '40 ',
 '1988 ',
 'Wine',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '178 ',
 '13 ',
 '1991 ',
 'Yeast',
 'Multivariate ',
 'Classification ',
 'Real ',
 '1484 ',
 '8 ',
 '1996 ',
 'Zoo',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '101 ',
 '17 ',
 '1990 ',
 'Undocumented',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Twenty Newsgroups',
 'Text ',
 ' ',
 ' ',
 '20000 ',
 ' ',
 '1999 ',
 'Australian Sign Language signs',
 'Multivariate, Time-Series ',
 'Classification ',
 'Categorical, Real ',
 '6650 ',
 '15 ',
 '1999 ',
 'Australian Sign Language signs (High Quality)',
 'Multivariate, Time-Series ',
 'Classification ',
 'Real ',
 '2565 ',
 '22 ',
 '2002 ',
 'US Census Data (1990)',
 'Multivariate ',
 'Clustering ',
 'Categorical ',
 '2458285 ',
 '68 ',
 ' ',
 'Census-Income (KDD)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '299285 ',
 '40 ',
 '2000 ',
 'Coil 1999 Competition Data',
 'Multivariate ',
 ' ',
 'Categorical, Real ',
 '340 ',
 '17 ',
 '1999 ',
 'Corel Image Features',
 'Multivariate ',
 ' ',
 'Real ',
 '68040 ',
 '89 ',
 '1999 ',
 'E. Coli Genes',
 'Relational ',
 ' ',
 ' ',
 ' ',
 ' ',
 '2001 ',
 'EEG Database',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Integer, Real ',
 '122 ',
 '4 ',
 '1999 ',
 'El Nino',
 'Spatio-temporal ',
 ' ',
 'Integer, Real ',
 '178080 ',
 '12 ',
 '1999 ',
 'Entree Chicago Recommendation Data',
 'Transactional, Sequential ',
 'Recommender-Systems ',
 'Categorical ',
 '50672 ',
 ' ',
 '2000 ',
 'CMU Face Images',
 'Image ',
 'Classification ',
 'Integer ',
 '640 ',
 ' ',
 '1999 ',
 'Insurance Company Benchmark (COIL 2000)',
 'Multivariate ',
 'Regression, Description ',
 'Categorical, Integer ',
 '9000 ',
 '86 ',
 '2000 ',
 'Internet Usage Data',
 'Multivariate ',
 ' ',
 'Categorical, Integer ',
 '10104 ',
 '72 ',
 '1999 ',
 'IPUMS Census Database',
 'Multivariate ',
 ' ',
 'Categorical, Integer ',
 '256932 ',
 '61 ',
 '1999 ',
 'Japanese Vowels',
 'Multivariate, Time-Series ',
 'Classification ',
 'Real ',
 '640 ',
 '12 ',
 ' ',
 'KDD Cup 1998 Data',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer ',
 '191779 ',
 '481 ',
 '1998 ',
 'KDD Cup 1999 Data',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '4000000 ',
 '42 ',
 '1999 ',
 'M. Tuberculosis Genes',
 'Relational ',
 ' ',
 ' ',
 ' ',
 ' ',
 '2001 ',
 'Movie',
 'Multivariate, Relational ',
 ' ',
 ' ',
 '10000 ',
 ' ',
 '1999 ',
 'MSNBC.com Anonymous Web Data',
 'Sequential ',
 ' ',
 'Categorical ',
 '989818 ',
 ' ',
 ' ',
 'NSF Research Award Abstracts 1990-2003',
 'Text ',
 ' ',
 ' ',
 '129000 ',
 ' ',
 '2003 ',
 'Pioneer-1 Mobile Robot Data',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Real ',
 ' ',
 ' ',
 '1999 ',
 'Pseudo Periodic Synthetic Time Series',
 'Univariate, Time-Series ',
 ' ',
 ' ',
 '100000 ',
 ' ',
 '1999 ',
 'Reuters-21578 Text Categorization Collection',
 'Text ',
 'Classification ',
 'Categorical ',
 '21578 ',
 '5 ',
 '1997 ',
 'Robot Execution Failures',
 'Multivariate, Time-Series ',
 'Classification ',
 'Integer ',
 '463 ',
 '90 ',
 '1999 ',
 'Synthetic Control Chart Time Series',
 'Time-Series ',
 'Classification, Clustering ',
 'Real ',
 '600 ',
 ' ',
 '1999 ',
 'Syskill and Webert Web Page Ratings',
 'Multivariate, Text ',
 'Classification ',
 'Categorical ',
 '332 ',
 '5 ',
 '1998 ',
 'UNIX User Data',
 'Text, Sequential ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Volcanoes on Venus - JARtool experiment',
 'Image ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Statlog (Australian Credit Approval)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '690 ',
 '14 ',
 ' ',
 'Statlog (German Credit Data)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '1000 ',
 ...]

In [65]:
name=[]
Type=[]
task=[]
attri_t=[]
inst=[]
attri=[]
year=[]
name=types[8:2000:7]
Type=types[9:2000:7]
task=types[10:2000:7]
attri_t=types[11:2000:7]
inst=types[12:2000:7]
attri=types[13:2000:7]
year=types[14:2000:7]

In [67]:
inst

['4177 ',
 '48842 ',
 '798 ',
 '37711 ',
 '452 ',
 '6000 ',
 '226 ',
 '226 ',
 '398 ',
 '205 ',
 '294 ',
 '625 ',
 '16 ',
 '286 ',
 '699 ',
 '198 ',
 '569 ',
 '108 ',
 '1728 ',
 '48842 ',
 ' ',
 '3196 ',
 '28056 ',
 ' ',
 '100 ',
 '67557 ',
 '690 ',
 '125 ',
 '209 ',
 '1473 ',
 '581012 ',
 '512 ',
 '366 ',
 ' ',
 ' ',
 ' ',
 ' ',
 '132 ',
 '336 ',
 '194 ',
 '352 ',
 '214 ',
 '306 ',
 '160 ',
 '303 ',
 '155 ',
 '368 ',
 ' ',
 '2310 ',
 '3279 ',
 '351 ',
 '150 ',
 '7797 ',
 '104 ',
 '57 ',
 ' ',
 '24 ',
 '20000 ',
 '345 ',
 ' ',
 '32 ',
 '148 ',
 '209 ',
 '528 ',
 ' ',
 '106 ',
 '128 ',
 '3190 ',
 '432 ',
 '202 ',
 '2000 ',
 '8124 ',
 '476 ',
 '6598 ',
 '12960 ',
 ' ',
 '5473 ',
 '5620 ',
 '10992 ',
 '90 ',
 '339 ',
 ' ',
 ' ',
 ' ',
 '167 ',
 '15 ',
 '1389 ',
 '307 ',
 '47 ',
 '23 ',
 '531 ',
 '4601 ',
 '267 ',
 '267 ',
 '76 ',
 ' ',
 '1000 ',
 '151 ',
 '958 ',
 '7200 ',
 '10 ',
 '285 ',
 '435 ',
 '527 ',
 '5000 ',
 '5000 ',
 '178 ',
 '1484 ',
 '101 ',
 ' ',
 '20000 ',
 '6650 ',
 '2565 ',
 '2458285 ',
 '299285 ',
 '340 ',
 '68040 ',
 ' ',
 '122 ',
 '178080 ',
 '50672 ',
 '640 ',
 '9000 ',
 '10104 ',
 '256932 ',
 '640 ',
 '191779 ',
 '4000000 ',
 ' ',
 '10000 ',
 '989818 ',
 '129000 ',
 ' ',
 '100000 ',
 '21578 ',
 '463 ',
 '600 ',
 '332 ',
 ' ',
 ' ',
 '690 ',
 '1000 ',
 '270 ',
 '6435 ',
 '2310 ',
 '58000 ',
 '946 ',
 '20008 ',
 '208 ',
 '528 ',
 ' ',
 ' ',
 '1024 ',
 '10080 ',
 '50400 ',
 '1025010 ',
 '19020 ',
 '1364 ',
 '961 ',
 '517 ',
 '200 ',
 '8000000 ',
 '1030 ',
 '606 ',
 '900 ',
 '2600 ',
 '1950 ',
 '13500 ',
 '4400 ',
 '2536 ',
 '300 ',
 '197 ',
 '2858 ',
 '748 ',
 '11640 ',
 '1593 ',
 '1567 ',
 '22632 ',
 '360 ',
 '103 ',
 '1994 ',
 '120 ',
 '4898 ',
 '2396130 ',
 '16772 ',
 '5875 ',
 '503 ',
 '51 ',
 '106 ',
 '2126 ',
 '5456 ',
 '8800 ',
 '164860 ',
 ' ',
 '1941 ',
 '130065 ',
 '515345 ',
 '440 ',
 ' ',
 '53500 ',
 '8235 ',
 ' ',
 '5749132 ',
 '2215 ',
 '310 ',
 '10000 ',
 '3000 ',
 '1500 ',
 '30000 ',
 '2500 ',
 '4143 ',
 '64 ',
 '53414 ',
 '65554 ',
 '45211 ',
 '1138562 ',
 '13910 ',
 '583 ',
 '2551 ',
 '34465 ',
 '5574 ',
 '245057 ',
 '182 ',
 '3850505 ',
 '138 ',
 '1080 ',
 '2075259 ',
 '210 ',
 '115 ',
 '3960456 ',
 ' ',
 '10299 ',
 '1600 ',
 '768 ',
 '308 ',
 '100 ',
 '237 ',
 '434874 ',
 '536 ',
 '140000 ',
 '6118 ',
 '165632 ',
 '18000 ',
 '540 ',
 '931 ',
 '1055 ',
 '100 ',
 '9120 ',
 '403 ',
 '111740 ',
 '10421 ',
 '5820 ',
 '403 ',
 '14980 ',
 '45730 ',
 '2584 ',
 '1372 ',
 '306 ',
 '120000 ',
 '13910 ',
 '2747 ',
 '3395 ',
 '39242 ',
 '4137 ',
 '17389 ',
 '51 ',
 '470 ',
 '132 ',
 '5000000 ',
 '11000000 ',
 '250 ',
 '126 ',
 ' ',
 '4889 ',
 ' ',
 ' ',
 '340 ',
 '501 ',
 '45781 ',
 '1503 ',
 '440 ',
 '2000 ',
 '9568 ',
 '168 ']

In [68]:
# create dataframe

df=pd.DataFrame()
df['Name']=name[:100]
df['Type']=Type[:100]
df['Task']=task[:100]
df['Attribute_types']=attri_t[:100]
df['No_of_instances']=inst[:100]
df['No_of_Attributes']=attri[:100]
df['Year']=year[:100]
df

,Name,Type,Task,Attribute_types,No_of_instances,No_of_Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
95,Statlog Project,,,,,,1992
96,Student Loan Relational,Domain-Theory,,,1000,,1993
97,Teaching Assistant Evaluation,Multivariate,Classification,"Categorical, Integer",151,5,1997
98,Tic-Tac-Toe Endgame,Multivariate,Classification,Categorical,958,9,1991
99,Thyroid Disease,"Multivariate, Domain-Theory",Classification,"Categorical, Real",7200,21,1987

## DONE